[2015-07-29 21:54] rochacbruno opened #1 "Load UI parameters from /spec"
Load dynamically options like Expand etc..

[2015-07-29 21:55] rochacbruno opened #2 "Add powered by flasgger to the footer"

[2015-07-29 22:18] rochacbruno opened #3 "add ability to read yaml from external file or external object"

[2015-08-03 20:04] #3 closed

[2015-08-04 22:52] #2 closed

[2015-08-31 13:22] ederfmartins opened #5 "Flasgger miss insert `<br>` elements whem we format html elements inside yml description."
Flasgger miss insert `<br>` elements whem we format html elements inside yml description.

Compare:
[code]
with:
[code]
note that the second snippet insert many `<br>` elements between 'Some text' and the `<table>` content.

[2015-08-31 14:23] rochacbruno commented on #5
This problem is here https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L19

By default every \n is converted to <br>

So we need to add an option to deactivate it, should be easy.

[2015-08-31 20:53] #5 closed

[2015-08-31 20:54] rochacbruno commented on #5
https://github.com/rochacbruno/flasgger#html-sanitizer

[2015-11-30 20:03] GGross5213 opened #7 "Handling multiple http methods and routes for a single function."
How does flasgger handle multiple http methods in a single route? It seems that there is no way to have two different sets of documentation for view function that has a GET and POST. Also I have view functions that have multiple routes such as /events and events/:id. How can I produce two separate definition objects?

[2015-12-02 21:28] rochacbruno commented on #7
It is possible to have different sets of docs, but it is handled by swagger not flasgger.

the http method have to be checked, did you testes it?

[2016-01-04 19:44] necrostylery opened #8 "New release"
Could you please publish a new release? I'm waiting to python 3 support.
Thank you.

[2016-01-04 20:48] #8 closed

[2016-01-04 20:49] rochacbruno commented on #8
done

[2016-01-11 12:46] rochacbruno commented on #7
I am working on making this available

[code]

[2016-01-11 12:48] rochacbruno opened #9 "prefix spec ids"
spec ids should be prefixed with endpoint name

[2016-01-11 12:49] rochacbruno opened #10 "Fix regex to add missing type to rules"
Currently rules only work if type is defined

bad
[code]

good
[code]

But we should accept the first, so regex have to be fixed.

[2016-01-11 12:51] rochacbruno opened #11 "cache the specs"
[code]

[2016-01-11 12:53] rochacbruno opened #12 "Accept jsonschema objects as definitions"
[code]

[2016-01-11 12:55] rochacbruno opened #13 "Fix UI style"
Change the UI style to not break the header

![download](https://cloud.githubusercontent.com/assets/458654/12234129/c692f538-b851-11e5-8033-0c4a67e0993a.png)

[2016-01-11 15:43] #9 closed

[2016-01-11 17:35] #7 closed

[2016-01-11 21:31] rochacbruno opened #14 "Allow spec inheritance for yaml"
A yaml file should be able to inherit from parent

[2016-01-13 20:18] rochacbruno commented on #10
The example: https://regex101.com/r/iL3jK2/3

[2016-01-13 20:19] rochacbruno commented on #10
![download](https://cloud.githubusercontent.com/assets/458654/12306696/30280f5c-ba22-11e5-880b-fa4cb7464832.png)

[2016-01-13 20:20] rochacbruno commented on #10
Codeline: https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L288

[2016-01-13 20:29] jfunez commented on #10
tem que dar 6 matches, certo?
pode ser assim?:
``(<(.*?\:\>)?(.*?)>)``

![screenshot 2016-01-13 18 28 07](https://cloud.githubusercontent.com/assets/805749/12306918/759670b4-ba23-11e5-83a2-d5c535521a8a.png)

[2016-01-13 21:21] rochacbruno commented on #10
@jfunez na verdade o retorno deveria ser o mesmo para as 3 variações de paths

[code]

[2016-01-13 23:13] alephmelo commented on #10
Bruno, acho que na parte em que você obriga a ter o literal **:**  da regex ```(<(.*?\:)?(.*?)>)``` ele sempre vai procurar um **\\:** no primeiro grupo de match, o que torna greedy. Talvez precise de uma expressão mais elaborada.

Eu fiz essa usando método de negação:

[code]
![capturar](https://cloud.githubusercontent.com/assets/6146240/12310909/018984b8-ba32-11e5-87fb-a7bb8b655d6f.PNG)

[2016-01-14 00:10] rochacbruno commented on #10
@alephmelo :+1: Nice! Issue fixed!
It works even with more paths https://regex101.com/r/gZ2rV3/2

[2016-01-14 00:34] #10 closed

[2016-01-20 22:32] rochacbruno opened #15 "Create test for regex path extractor"
All the following
[code]

Should parse correctly on the test
create a test using all werkzeug path types

[2016-01-26 18:46] rochacbruno opened #16 "Render apidocs/index.html as a template"
Serve swaggerui renderized not static

[2016-04-04 20:31] rchacon1 opened #17 "Model Schema for should_be_v1_only and should_be_v1_only_post"
Shouldn't `$ref` be set to `'#/definitions/should_be_v1_only_post_post_User'` on the following two lines:

https://github.com/rochacbruno/flasgger/blob/master/flasgger/example_app.py#L83
https://github.com/rochacbruno/flasgger/blob/master/flasgger/example_app.py#L125

[2016-04-04 20:37] #17 closed

[2016-04-08 01:08] jeffpeiyt opened #18 "customize apidocs/index.html"
this is awesome!  It is working and wonder can we overwrite the apidocs/index.html.

Is that possible you add some doc on how / where to put the swaggerui to customize the css template etc?

thanks in advance

[2016-04-08 01:25] jeffpeiyt opened #19 "remove the large .js from egg"
Could we remove the 2.4MB swagger-ui.js from the swaggerui folder in the egg? the .min should be sufficient. This will make the egg 80% smaller. that would be awesome. Thanks

[2016-04-16 18:12] vovanz opened #21 "Hardcoded optional_fields"
[Optional fields for operation definition are hardcoded.](https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L228)

So, if you want to add some non-standard fields (I want to generate swagger definition for Amazon API Gateway, so I have to use [their extensions to swagger](http://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-swagger-extensions.html)) you have t

[2016-04-26 14:23] rchacon1 opened #22 "Resource Warning: unclosed file"
I believe you need to close the yaml files:

https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L42
https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L45

[2016-05-09 16:14] incognick opened #23 "Index url path"
I can see the documentation if I type in /apidocs/index.html but it doesn't load if I only type in /apidocs.  Shouldn't it load from both?

I looked down into the blueprint setup but I couldn't see how to get this to work.

[2016-05-09 18:02] incognick opened #24 "Plugin support - Marshmallow"
Is it possible to get Marshmallow integration?   I could possibly do this if someone pointed me in the right direction to add it:

Similar to this project but Flasgger is better since it provides all the html (no secondary server is required)
https://github.com/marshmallow-code/apispec

[2016-05-24 18:47] rochacbruno commented on #19
Thanks

[2016-05-24 18:47] #19 closed

[2016-05-24 18:48] rochacbruno commented on #22
@rchacon1 ohh thanks.. that is a shame... need to put this in a with context..

Will look in to this or wait a PR

[2016-05-24 18:49] rochacbruno commented on #23
@incognick nice idea, should be simple to add in blueprint.

[2016-06-28 05:53] pankajbhanu opened #27 "swaggerUI 404"
I am getting the api spec in `/v1/spec` but swagger UI at `/apidocs/index.html` returns 404. what could be the reason for this. I am using both Resource based and MethodView based apis in flask

[2016-07-11 15:21] borjafpa opened #28 "New version to add disable validator link"
Hi,

I've noticed that the current version 0.5.12 does not include the following commit:
https://github.com/rochacbruno/flasgger/commit/431649931652cf5b9827527f96eddc716ace7eb8

Are you planning to generate a new release with it soon?

Thank you and regards

[2016-07-11 18:24] rochacbruno commented on #28
released 0.5.13

[2016-07-11 18:24] #28 closed

[2016-07-12 06:28] borjafpa commented on #28
@rochacbruno thank you!

[2016-07-14 12:59] klarsen73 opened #29 "Unable to create global definitions"
Due to the use of 'id' for schemas $ref to a defined schema doesn't work.

When running example application 'example_app.py' you can see that the GET method (get /v1/users/{team_id}) using $ref to reference #/definitions/User returns ' [ null ]'

With the current implementation the reference should be done like this:
$ref: '#/definitions/should_be_v1_only_post_post_User'

but that seems to be odd

[2016-10-14 19:27] andryw opened #35 "Change "no content" response from 204 status"
Hi,
is it possible to change the response body when the code is 204?
The only way that I found it was change the javascript code.

[2016-10-19 00:22] dylaan opened #36 "Allow a custom specs url for Swagger UI"
My project has a standalone Flask server behind nginx at '/api'. I cannot register a specs endpoint at '/specs', only '/api/specs'. Would it make sense to use app.config['SWAGGER']['basePath'] to prepend 'specs_url' in SwaggerUI/index.html? I can edit this myself, but will lose changes when updating this package.

[2016-11-03 14:41] rochacbruno opened #38 "HAL"
explore integration with something like https://github.com/thisissoon/Flask-HAL

[2016-11-05 04:29] ocervell opened #39 "swag_from for Flask-Restful style view"
Hi,

Is it possible to make the @swag_from decorator also work for Flask-Restful style views ? Currently it seems like it is just ignored.

Thanks.

[2016-11-08 13:52] MarcelWokke opened #41 "Static url path change"
Thanks for the great work it works fine!

One thing I noticed when I tried to change the static url path from apidocs to for instance  'sampleUrl' by adding my own DEFAULT_CONFIG object to the constructor everything worked great. But due to a typo I noticed that in the index.html there is still a fixed path reference to /apidocs in this redirect function

function redirect_to(url){
54	      window

[2016-11-08 22:37] rochacbruno opened #42 "Expecting a PR?"
https://github.com/mtronrd/flasgger/commits/definitions

[2016-11-19 23:00] mtronrd commented on #42
https://github.com/rochacbruno/flasgger/pull/40 Added some docs and cleaned up definition registration to use a decorator like flask route registration.  Would it be useful to let the definition filter access the definition name as well as the tag?

[2016-12-07 17:46] maxdebayser opened #46 "Create test for MethodView docstrings"
When the user creates resources that are objects derived from flask.views.MethodView the requests are handled in methods named after the HTTP method, like get and post. A test should be added to check that the docstring of these methods is correctly retrieved. This case is important for Flask_restful users.

[2017-01-01 15:56] SaeidBsn opened #47 "Authorization Header + UI input view"
Hi, all!
Anyone can help me with how to implement custom headers e.g. "Authorization header" in requests + adding UI element for it with flasgger?
I need to use JWT with some of the endpoints.
I was able to achieve this by modifying flasgger source code, but that shouldn't be the way!

thanks in advance!

[2017-01-16 07:20] mayankthp opened #48 "conversion of swagger document format"
Hi Bruno,
First of all thanks for this awesome library :)
I can see that the format flasgger requires is slightly different from the one used by swagger.
That works fine, but in order to test my apis through tools like soapui i need the swagger format. Is there a converter available i can use , files that are created or do i need to use my own?

cheers.

[2017-02-09 15:25] ankitarya10 commented on #41
facing the same issue, did you find a workaround @MarcelWokke .

[2017-02-24 19:21] AminHP opened #51 "Import another yaml file"
Hello!
Thanks for this useful library.
I want to import another yaml file in my swagger specification. For example i have a file named _username_definitions.yml_. Now i want to import _bad_request.yml_ to specify a "bad request" response.

How can i do something like that?
If there is no way, will it good idea to implement an _import_ property myself?

username_definitions.yml
[code]

bad_request.

[2017-02-28 20:36] AminHP commented on #51
Are u there?! @rochacbruno

[2017-03-17 07:57] ravibhushan29 opened #52 "Why docsstring in head method is not working in flasgger ?"
[code]

[2017-03-17 08:45] rochacbruno commented on #52
Hi, thanks for reporting, I am going to check this one and if you can send a Pull Request it would be very welcome.

[2017-03-17 08:47] rochacbruno commented on #52
found the problem: https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L234

[2017-03-17 08:47] rochacbruno commented on #52
can you explain the use case? why do you need HEAD to return content?

[2017-03-17 09:09] ravibhushan29 commented on #52
Head is faster than Get , i want quick response , so i was using head
method.

On Fri, Mar 17, 2017 at 2:17 PM, Bruno Rocha <notifications@github.com>
wrote:

[2017-03-17 09:15] ravibhushan29 commented on #52
The HEAD methodThe HEAD method is used to ask only for information about a
document, not for the document itself. HEAD is much faster than GET, as a
much smaller amount of data is transferred. It's often used by clients who
use caching, to see if the document has changed since it was last accessed.
If it was not, then the local copy can be reused, otherwise the updated
version must be retrieved wi

[2017-03-17 09:20] ravibhushan29 commented on #52
https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L234

if i remove "HEAD" from here, then its is working.

On Fri, Mar 17, 2017 at 2:45 PM, Ravi Bhushan <ravibhushan29@gmail.com>
wrote:

[2017-03-21 02:07] stevencox opened #53 "[RESOLVED] Definitions cause infinite loop loading Swagger UI"
Hi folks, great work. When I include a "definition" in my swagger spec, which otherwise works, I get this error:
[code]
I'm using an external yaml file for a single operation so I could see how a definition might not be in the correct context for that file. So I looked for an example using definitions in this repo but didn't see any. What am I doing wrong?

[2017-03-22 16:50] rochacbruno commented on #53
Can you share your YAML?

Looks like you defined something as string when should be a dict

[2017-03-22 16:56] rochacbruno commented on #52
@ravibhushan29 now you can pass it in config.

[code]

The default is ['HEAD', 'OPTIONS']

[2017-03-22 16:57] rochacbruno commented on #52
@ravibhushan29

install from github

[code]

release to PyPI will be soon

[2017-03-22 16:59] rochacbruno commented on #51
Hi @AminHP this is not yet supported, I like the idea lets see how to implement it.

[2017-03-22 17:00] rochacbruno commented on #48
@mayankthp flasgger uses the same format as Swagger. Can you point which differences did you find?

[2017-03-22 17:01] rochacbruno commented on #47
@SaeidBsn  can you please share your modifications? so I can add an options for that.

thanks

[2017-03-22 17:01] rochacbruno commented on #46
Thanks

[2017-03-22 17:01] #46 closed

[2017-03-22 17:01] rochacbruno commented on #42
thanks

[2017-03-22 17:01] #42 closed

[2017-03-22 17:04] rochacbruno commented on #29
done in #40

[2017-03-22 17:04] #29 closed

[2017-03-22 17:05] rochacbruno commented on #24
I guess it is in #40 someone need to try

[2017-03-22 19:46] stevencox commented on #53
@rochacbruno, the YAML is pasted below. It's also available in the Swagger editor like this if that's helpful:
  * See the [smartAPI Registry](http://smart-api.info/registry/#4)
  * See Exposure API v0.0.1
  * Select ***Swagger Edtor***

What I'd really like to do is use the spec as a whole like it is below, including for validation. Is that an option? i.e. instead of splitting it up into separate

[2017-03-22 19:48] stevencox commented on #53
I've split that into this and changed the operation definition to include a schema to take advantage of flasgger as follows:
[code]
On the face of it, it doesn't seem like definitions really belong at the same level as an operation. It works great without that part. Anyway, any guidance is appreciated.

[2017-03-23 12:39] coolguy456 opened #54 "cannot access the website using my host ip"
Hi , flasgger made my task easier in creating documentation for my api but I cannot access the documentation unless the flask-api is hosted on 5000 and also cannot access documentation on my IP(http://10.0.5.40:5000/apidocs/index.html)  but can access when localhost is used. Any suggestions?

[2017-03-23 15:21] chrischnweiss opened #55 "Getting empty results with example_app"
Hi there,

using the example_app which is provided with this project, Im getting a empty result for the "paths" object of the specification. So the UI is empty for those routes.

Anyone else with this problem?

Cheers,
Christian

[2017-03-23 18:19] rochacbruno commented on #54
Hi

When starting your app you can pass the host and if want to access out of localhost you need to pass `0.0.0.0`

app.run(host='0.0.0.0', port=8080)

should work.

[2017-03-23 18:19] rochacbruno commented on #53
I will try to reproduce your problem.

[2017-03-23 19:00] coolguy456 commented on #54
thanks it worked.

[2017-03-23 19:00] #54 closed

[2017-03-24 03:32] rochacbruno commented on #55
@chrischnweiss I just did a major refactor

Please try again

Clone repo again (or update current)

` python examples/example_app.py`

[2017-03-24 04:44] rochacbruno commented on #53
@stevencox sent https://github.com/stevencox/exposures/pull/1

[2017-03-24 07:37] chrischnweiss commented on #55
Running into the next issue know:

`➜  flasgger git:(master) python examples/example_app.py
Traceback (most recent call last):
  File "examples/example_app.py", line 175, in <module>
    @swag.definition('Hack', tags=['v2_model'])
AttributeError: 'Swagger' object has no attribute 'definition'`

[2017-03-24 12:31] rochacbruno commented on #55
@chrischnweiss you probably doesn't have the master version in your env.

[code]

[2017-03-24 20:06] #13 closed

[2017-03-24 20:07] #1 closed

[2017-03-24 20:08] rochacbruno commented on #51
Connected to #14

[2017-03-24 20:09] rochacbruno commented on #18
Fixed, it is now in `templates/flasgger/index.html` so you can customize in your app.

[2017-03-24 20:09] #18 closed

[2017-03-24 20:13] #22 closed

[2017-03-24 20:13] #16 closed

[2017-03-24 20:14] #21 closed

[2017-03-24 20:15] rochacbruno commented on #21
optional_fields is now read from app.config['SWAGGER']

[2017-03-24 20:15] rochacbruno commented on #23
Done

[2017-03-24 20:15] #23 closed

[2017-03-24 20:15] #27 closed

[2017-03-24 20:17] rochacbruno commented on #36
Fixed, now blueprint sets the url and uses basePath

[2017-03-24 20:17] #36 closed

[2017-03-24 20:19] rochacbruno commented on #35
Nothing to do with flasgger, flasgger will return watever your view returns.

[code]

[2017-03-24 20:19] #35 closed

[2017-03-24 20:20] rochacbruno commented on #38
Nothing to do with Flasgger, this is up to the return value of the view

[2017-03-24 20:20] #38 closed

[2017-03-24 20:21] rochacbruno commented on #39
Changes included someone needs to test

[2017-03-24 20:21] rochacbruno commented on #41
implemented getting from config.

[2017-03-24 20:21] #41 closed

[2017-03-24 20:22] rochacbruno commented on #48
Flasgger reads YAML and generates JSON, Both respecting OpenAPIspecs.

[2017-03-24 20:22] #48 closed

[2017-03-24 23:07] incognick commented on #23
Thanks!
On Fri, Mar 24, 2017 at 3:15 PM Bruno Rocha <notifications@github.com>
wrote:

[2017-03-25 04:28] #12 closed

[2017-03-25 07:52] chrischnweiss commented on #55
That's it! I installed via pip package!
Thank you!

[2017-03-25 07:52] #55 closed

[2017-03-26 00:48] #24 closed

[2017-03-26 00:49] rochacbruno commented on #24
implemented. added new app in examples/

[2017-03-26 22:59] AminHP commented on #51
This is a basic and easy algorithm.
We define a property with the following structure:
  import: "yamlfilepath"

Before process anything, we can find all the  import keywords, read contents of the file located in the yamlfilepath, and replace them with the import property.
After that the Flasgger can process everything like before and no action is required.

[2017-03-28 00:21] rochacbruno commented on #51
@AminHP I can try to work on this in the next weeks but will take some time as I am going to travel for some days.

If you can implement, your Pull Request will be very welcome!

The `import` algorithm must be called at the end of this function https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L42-L54

(maybe recursively)

[2017-03-28 00:33] rochacbruno opened #59 "Create a blueprints example and fix any issues"
REF:

http://stackoverflow.com/questions/41604212/how-to-use-flasgger-with-flask-applications-using-blueprints

[2017-03-28 00:33] rochacbruno commented on #59
https://github.com/gangverk/flask-swagger/pull/34/files

[2017-03-28 00:36] rochacbruno opened #60 "Add support for path declarations in docstring."
REF: https://github.com/gangverk/flask-swagger/pull/32/files

If found `get, post, put, patch, delete, option, head..` swaggify based in those paths.

[code]

IMPORTANT: Keep compatibility with current examples/*

[2017-03-28 08:18] njarvis opened #61 "AttributeError: 'function' object has no attribute 'root_path'"
Issue introduced between 0.5.14 and 0.6.1:

[code]

Our code:

[code]

[2017-03-28 10:09] AminHP commented on #51
Ok. I will implement it. Help me please if i had any problems. Thanks!

[2017-03-28 10:19] lwm opened #62 "AttributeError: 'function' object has no attribute 'swag_path'"
When doing something like:

[code]

I see:

[code]

Where the function has the `swag_paths` attribute (from my digging around).

[2017-03-28 10:33] lwm commented on #62
Trying to hack together a failing example + fix. Let's see :)

[2017-03-28 11:09] lwm opened #64 "Add Travis testing for examples"
Would you be interested? I'd try to set it up, we could just figure out a way to fire up each examples Flask server and check that it runs and then kill it. This would give guarantees the examples are working.

[2017-03-28 11:12] lwm opened #65 "Add a change log?"
http://keepachangelog.com/en/0.3.0/

Would be nice! I'll rely on this library for my project going forward and would like to keep an eye on the changes you'll be making here.

[2017-03-28 13:30] lwm opened #66 "How to fold Flasgger API listings"
Would be cool to join the /api/auth/ GET/POST under the one /api/auth.

I've seen this doable in django-rest-swagger libraries. Is it possible in flasgger?

![image](https://cloud.githubusercontent.com/assets/1991377/24407486/f49a878e-13c2-11e7-94d7-e0b320bdedce.png)

[2017-03-28 14:35] rochacbruno commented on #62
@lwm this only works when you have multiple decorators? or only with blueprints?

[2017-03-28 14:36] rochacbruno commented on #61
@njarvis Is your view under a blueprint? I am trying to fix this in #59

[2017-03-28 14:39] rochacbruno commented on #64
Hey @lwm that would be nice! I was thinking on using Flask client for testing and then testing only if output /specs and /apispecs_1 is valid swagger using a swagger validation tool.

[2017-03-28 14:39] rochacbruno commented on #65
@lwm nice! I'll add

[2017-03-28 14:40] rochacbruno commented on #66
@lwm I have to check. I know we can group by tags, so paths with the same tag goes under the same folding.

[2017-03-28 14:41] njarvis commented on #61
We don't use blueprint just "vanilla" flask.

[2017-03-28 15:01] AminHP commented on #51
Ok. I will implement it. Help me please if i had any problems. Thanks!

[2017-03-28 15:03] AminHP commented on #51
Please check my pull request. @rochacbruno

[2017-03-28 15:15] rochacbruno opened #68 "Create APISpec example"
Using the example code from: http://apispec.readthedocs.io/en/latest/

[code]

should be possible to use Flasgger as:

[code]

and with the above flasgger will generate the /apidocs using the apispec.

[2017-03-28 15:20] rochacbruno commented on #61
@njarvis ok, I think I found the problem.

Problem is occurring when `@swag_from` receives absolute path starting with `/`

I should fix this later today.

Thanks for reporting

[2017-03-28 18:08] lwm commented on #65
Thank you! Very much appreciated :) Feel free to close.

[2017-03-28 18:14] lwm commented on #62
A good question, I believe it is when `endpoint=None` and `methods=[<something>]` on the call of `swag_from`. Then the logic goes like:

[code]

Where `set_from_filepath` arrives at the following logic:

[code]

And then `function.swag_paths` is set, but **not** `swag_path`.

I tried to make a fix but I am not sure on what the validation logic should be for the case where there are multiple `funct

[2017-03-28 18:16] lwm commented on #64
Oh, that's an even cooler idea!

[2017-03-28 18:38] lwm commented on #66
Ah yes, that was what I was looking for! Thanks!

[2017-03-28 18:38] #66 closed

[2017-03-28 19:41] #53 closed

[2017-03-29 16:13] #59 closed

[2017-03-29 16:30] rochacbruno commented on #62
resolved in last commit

[2017-03-29 16:30] #62 closed

[2017-03-29 16:57] rochacbruno commented on #61
I made a change in https://github.com/rochacbruno/flasgger/commit/745d0178d990aca0cb3e5620db92cc1d2365b9e5 that might fix this one, please test it and let me know if solved. thanks.

[2017-03-29 18:11] njarvis commented on #61
It fixes the traceback I reported, but isn't displaying correctly.  I see 404s in the access logs:

[code]

With 0.5.14, I was using ```Swagger(api, config={...})```.  Tried replacing that with ```Swagger(api)```, but still see the above log entries.

[2017-03-29 18:17] rochacbruno commented on #61
Ok, looks like you have a problem for accessing static files, are you passing any config which replaces the static path?

what is the output of `/apidocs/?json=true`

and what is the output of each `url` in there?

Lets first see if specs is being generated correclty as `JSON` and then find the problem with static_files.

Thanks for your help.

[2017-03-29 18:23] rochacbruno commented on #61
Ok, got it!

https://github.com/rochacbruno/flasgger/commit/83d22916c3bad296b21544f9dfe29660ec152a1a

`/lib` was on `/gitignore` my bad.. please try update your local repo and try again :)

[2017-03-29 18:32] njarvis commented on #61
We're getting closer :)

I'm not doing any explicit configs, just `Swagger(app)`

I now see one path (of many) being displayed.

http://localhost:8000/apidocs/?json=true

[code]

And

[code]

[2017-03-29 18:42] njarvis commented on #61
Don't know if this is related.I also see this artefact in my browser (Safari), after the load/render completes.  The text box looks wrong, and I don't think that text "Rendering Swagger UI..." should remain.

<img width="598" alt="screen shot 2017-03-29 at 19 39 01" src="https://cloud.githubusercontent.com/assets/703815/24470614/7c7931ce-14b7-11e7-918f-b4a79107cca6.png">

[2017-03-29 18:46] njarvis commented on #61
From error console after rendering the page:

<img width="1021" alt="screen shot 2017-03-29 at 19 43 20" src="https://cloud.githubusercontent.com/assets/703815/24470787/05d2fad6-14b8-11e7-9c1d-e9540eba5510.png">

[2017-03-29 20:03] #39 closed

[2017-03-29 20:20] rochacbruno commented on #61
I'll setup a Saucelabs environment to test safari! (I'm on Linux)

Maybe itis because `produces` is empty?

If you try:

[code]

Changes something?

[2017-03-29 21:18] lwm commented on #62
:beers:

[2017-03-29 22:25] lwm opened #71 "Consider pip-tools for dependency management"
Have you seen https://github.com/jazzband/pip-tools?

You keep your dependencies pinned (repeatable builds) and up to date easily.

I can take a stab at adding it if you agree.

[2017-03-30 00:37] rochacbruno commented on #71
I like the idea, for some of my projects I use pyup.io, but in the case of Flasgger I don't know if this is needed.

we have a very small set of requirements:

https://github.com/rochacbruno/flasgger/blob/master/setup.py#L48-L52

[code]
And as flasgger is a library we cannot pin specific versions, only minimum requirements because of that I used `>=`

Do you think only 5 requirements is worth to u

[2017-03-30 00:58] lwm commented on #71
Fair enough! :+1:

[2017-03-30 00:58] #71 closed

[2017-03-30 00:58] #64 closed

[2017-03-30 01:35] rochacbruno commented on #51
Merged thanks!

[2017-03-30 01:35] #51 closed

[2017-03-30 01:35] rochacbruno commented on #14
`import` implemented by @AminHP

[2017-03-30 01:35] #14 closed

[2017-03-30 01:36] rochacbruno opened #73 "Write more examples/test for `import` feature using docstring and external yaml"
this new feature needs more tests before release

[2017-03-30 01:38] rochacbruno opened #74 "`import: external_yaml` should work for multiple paths"
Ẁhen a function is decorated multiple times with `@wag_from` the `import` should take care of the original root_path.

reference: https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L65-L79

[2017-03-30 01:39] rochacbruno opened #75 "Document `import:` feature"
` import:` feature should go to README.md

[2017-03-30 01:40] rochacbruno commented on #65
I'll wait the next release to PYPI to add this changelog, so I'll take care of adding all the history.

By now keeping this one open.

[2017-03-30 17:43] rochacbruno commented on #61
I want to solve this before releasing next version to PyPI but I am not able to reproduce it.

[2017-03-30 17:55] DanCardin opened #76 "AttributeError: 'NoneType' object has no attribute '__globals__'"
[code]
I get this when loading the swaggerui page on master without having any routes at all. Just instantiating the Swagger object with an app, `swag.init_app(app)` seems to cause it.

I won't be able to use what's currently released it seems, because I need the fix for swag_path that's not released yet

EDIT: Forgot to note that it does *not* happen in the most recent released version. and after

[2017-03-30 18:11] rochacbruno commented on #76
@DanCardin can you share your code so I can try to reproduce.

Thanks

[2017-03-30 18:12] rochacbruno commented on #76
I tried this

[code]

And cannot reproduce the error

[2017-03-30 18:40] rochacbruno commented on #76
@DanCardin I creates a test/example in https://github.com/rochacbruno/flasgger/commit/ed40572760204d670539e3e961d48866f4582bff

Can you please try again and also if possible share the exact code you used so we can add one more test.

(apps in examples/ folder are executed by travis for testing)

[2017-03-30 18:44] DanCardin commented on #76
[code]
or with any method other than POST or GET

[2017-03-30 18:48] DanCardin commented on #76
ah, now I see your test case. Yes, I guess I have rules registered for methods which I dont have implemented

[2017-03-30 19:03] rochacbruno commented on #76
Hi, I added your example to the test example in https://github.com/rochacbruno/flasgger/commit/55e9cef4cd4363f22f6c5d8282753f76729c2987

Also added a fix for the error. please confirm if it is fixed now.

Thank for your help

[2017-03-30 19:04] rochacbruno commented on #76
Having rules for missing methods is not good, it is error, but flasgger will not take care of them, flasgger will ignore and the error will raise when you try to request the rule.

[2017-03-30 20:02] DanCardin commented on #76
cool, that sounds fine

[2017-03-30 20:02] #76 closed

[2017-03-30 21:36] rochacbruno commented on #68
Done! examples/apispec_example

[2017-03-30 21:36] #68 closed

[2017-03-30 21:37] rochacbruno opened #77 "Document `APISpec` support"
examples/apispec_example must go to README

[2017-03-30 21:57] rochacbruno opened #78 "Deploy all the example apps to PythonAnywhere"
Aggregate all apps in `/examples` folder in an unique application using `DipatchMIddleware` and then deploy as demo app to PythonAnywhere instance.

[2017-03-30 21:58] rochacbruno commented on #61
I need help from people who has mac and safari to run every example in `/examples` folder and please see if can reproduce the issue.

[2017-03-30 22:07] lwm commented on #78
That'd be cool :+1:

[2017-03-31 08:30] njarvis commented on #61
I've debugged further.  The problem was with one of my swag definition files.  I had

[code]

and that caused the rendering to stop.  The fix was

[code]

This was working in 0.5.14 (I suspect this may be a swaggerui issue, not flasgger?)

I'm also seeing a change in reference behaviour, which I don't know if it is expected. Again, maybe a change in swaggerui? For example, I was using a reference

[2017-03-31 18:44] #61 closed

[2017-03-31 18:50] rochacbruno commented on #61
@njarvis

Nice! this is fixed!

1) OpenAPIspec always expected `produces` and `consumes` to be a `list`, the problem is that in `0.5.14` flasgger just ignored that value in pre-validation and maybe swagger UI also ignored.

**fixed** I included a fix for backwards compatibility, if flasgger founds a string it will convert to list.

2) I changed the way references are created, before it was `{funct

[2017-03-31 19:09] #65 closed

[2017-04-01 02:45] messense opened #80 "KeyError: '__file__'"
[code]

[2017-04-01 02:46] messense commented on #80
0.6.1 workes fine, 0.6.2 breaks.

[2017-04-01 02:47] messense commented on #80
Caused by https://github.com/rochacbruno/flasgger/commit/7a3db9458cbed4e031dec688e1281f777016582e

[2017-04-01 04:50] rochacbruno commented on #80
hi tks for reporting
which example to reproduce the error? can you share example code for the app?

[2017-04-01 04:57] rochacbruno commented on #80
this may be replaced with `inspect.getfile`

[2017-04-01 09:14] messense commented on #80
`inspect.getfile` gets:
[code]

The view func has a decorator applied.

[2017-04-01 13:53] rochacbruno commented on #80
@messense I added a fix, and a test `examples/decorator_package.py` please try again ans let me know if works so I can release `0.6.3`

Thanks

[2017-04-01 13:56] messense commented on #80
@rochacbruno It works, thanks.

[2017-04-01 13:56] #80 closed

[2017-04-01 19:07] #78 closed

[2017-04-01 19:19] rochacbruno opened #81 "[front end] Improve demo app html template"
This is the current demo app http://flasgger.pythonanywhere.com/

we need to improve that template currently showing a simple ul/li list.

would like to have a responsive grid with each example in a block, something like: http://codepen.io/maddesigns/pen/KdoOmO

html template to change is https://github.com/rochacbruno/flasgger/blob/master/demo_app/templates/flasgger.html#L50-L64

To run the demo

[2017-04-01 21:32] ThiagoLopes commented on #81
Try this:

1.  in line 50 add this class in ul  : `listFlex`
2. add [this ](https://codepen.io/anon/pen/xqMRPX.css)stylesheet in head

Will look like this:
![screenshot at 2017-04-01 18-30-22](https://cloud.githubusercontent.com/assets/5994972/24582592/935b4e5a-1709-11e7-906d-76df48bf0a6a.png)

[2017-04-02 05:27] #81 closed

[2017-04-02 23:33] Jgironda opened #84 "Authorize Button"
Hi Bruno,

I am using flasgger and I have to said that I really like it!.

I have tested the uiversion 3, and I read in your post that it is unstable, but the only problem that I have can find is that the button Ahtorize disappear in uiversion 3, with this config:

app.config['SWAGGER'] = {
    "swagger": "2.0",
    'uiversion': "3",
  "info": {
    "title": "MiTestAPI",
    "version": "1.0"
  }

[2017-04-03 01:17] rochacbruno commented on #84
Thanks, I'll add auth example to `examples/` and also investigate what is needed for ui3 to work.

[2017-04-03 02:55] rochacbruno opened #85 "Support plain definition $ref"
Currently we need ` $ref: '#/definitions/Color'` and we should support `$ref: Color`

[code]

The idea is to support

[code]

[2017-04-03 02:58] rochacbruno commented on #85
[code]

[2017-04-05 03:56] laranicolas opened #86 "Compatibility with FlaskRestless"
Hey, I tested flasgger with Flask alone and work pretty well, good work!

I'm working with a flask proyect and we are using `FlaskRestless` extension, how can I make it work with `preprocessors` using `swag_from` directive??

[2017-04-05 12:04] rochacbruno commented on #86
Hi, I never used FlaskRestless, I need to check it out to see how it works.

Can you share a simple example of app using this?

[2017-04-05 12:06] laranicolas commented on #86
Yes sure, 2 years ago I pushed this repo.

https://github.com/laranicolas/flaffold

[2017-04-07 16:05] laranicolas commented on #86
@rochacbruno did you see something?

There is a way to pre-define endpoints using template? I tried with `paths` but didn't work...

[2017-04-10 14:02] lwm opened #87 "flask-restful - generating the swagger spec automatically?"
In flask-restful, we use:
  1) [Argument parsing](https://flask-restful.readthedocs.io/en/0.3.5/quickstart.html#argument-parsing) to check the incoming request conforms to what we want.
  2) [Data formatting](https://flask-restful.readthedocs.io/en/0.3.5/quickstart.html#data-formatting) to assure the response is in the way we want it.

As far as I can see, the [flasgger X flask-restful](https://gi

[2017-04-10 14:02] lwm commented on #87
I suppose we could adapt the [marshmallow](https://github.com/rochacbruno/flasgger#using-marshmallow-schemas) generating code or?

[2017-04-12 14:18] rochacbruno commented on #87
That would be nice if we can get the specs automatically, But as I am not a restful user I don't know too much about its internals.

If we can patch `Resource` class and use `Resource` and `Schema` imported from `flasgger` package then it may work.

It would be very nice if you can come with some experiments on this, thanks.

[2017-04-20 09:19] s8sg opened #88 "Add template_file argument to initialize from yaml or json"
[code]

[2017-04-20 14:34] lwm commented on #87
Hey, thanks for getting back to me. I did some investigation and it seems that the argument and data formatting modules in flask-restful are kinda limited and people are [already using marshmallow](https://github.com/flask-restful/flask-restful/issues/335). So, I'll close this off and stick with your marshmallow support.

[2017-04-20 14:34] #87 closed

[2017-04-20 15:48] rochacbruno commented on #88
What is the `template` you are passing?

[2017-04-20 15:50] rochacbruno commented on #88
`template` must be a dict or a list of tuples. can you share yours?

[2017-04-21 02:34] s8sg commented on #88
Thanks for the quick response. It was my bad. I was sending a swagger string. It will be nice to have a direct api to initialize Swagger() object from .yaml or .json file, if there isn't any such way

[2017-04-21 05:23] rochacbruno commented on #88
@s8sg I like the idea, must implement `template_file` argument.

[2017-04-21 14:37] laranicolas commented on #86
@rochacbruno any update?

[2017-04-21 17:40] dkharlan opened #89 "jsonschema tries to load external file $refs as JSON"
While trying to do something like [this](http://azimi.me/2015/07/16/split-swagger-into-smaller-files.html), I'm running into the following.

Say I have `thing_doer.yml`:
[code]

Through playing around, I've found out the following:

1. The `$ref` path **must** be a `file:` URI.  See [here](https://github.com/Julian/jsonschema/issues/313) (this is likely `jsonschema`'s problem, but I thought I'd br

[2017-04-21 20:32] rochacbruno commented on #89
Right now you can use the `import` feature as in this example https://github.com/rochacbruno/flasgger/blob/master/examples/example_app.py#L136

I'll try to implement the `$ref: "file:./path/to/models/stuff.yml"` which is not yet supported

[2017-04-22 14:23] dkharlan commented on #89
Thank you!  I'll look into that.

[2017-04-23 11:12] wobeng opened #90 "Handling Collections of Objects with marshmallow"
In marshmallow I can handle many collections of an object. For the

https://github.com/rochacbruno/flasgger/blob/master/examples/marshmallow_apispec.py

example how do I handle a collection of "User" and have it reflect in the apidocs?

[2017-04-24 14:37] wobeng opened #92 "Does SwaggerView allow multiple methods in the class?"
Does SwaggerView allow multiple methods in the class?

Regarding https://github.com/rochacbruno/flasgger/blob/master/examples/marshmallow_apispec.py

I only see one method at a time

[2017-04-24 18:09] rochacbruno commented on #92
Yes it supports as it is just a class inheriting form MethodView, and you can use the docstring on each method to overriide the class values.

[2017-04-24 18:14] wobeng commented on #92
Hi rochacbruno

Thanks for your response.  How do I use marshmallow schema in other methods if I have a different schema for each method? For example in the code below, how do I specify a different schema for "get" method and a different schema for "post"

`
from flask import Flask, jsonify, request

from flasgger import Schema, Swagger, SwaggerView, fields

app = Flask(__name__)
app.config['SWAGG

[2017-04-24 18:16] wobeng commented on #90
fixed

[code]

[2017-04-24 18:16] #90 closed

[2017-04-24 18:17] dkharlan opened #93 "Feature request: support headerless YAML files"
Currently, the API docs endpoint will not show docs for endpoints using a separate file (via the `@swag_from` decorator) if the file does not have a `\n---` before the content.  **Validation still works fine for these; just the API docs are missing.**

In other words, this works:

[code]

whereas neither of these will be listed under `/apidocs`:

[code]

[code]

[2017-04-24 18:20] rochacbruno commented on #93
@dkharlan good catch we must fix this.

[2017-04-24 18:39] rochacbruno commented on #92
[code]

right now that is the only way, we can think in a better approach and implement it.

[2017-04-24 20:01] wobeng commented on #92
you are the man!

one last thing...how will I do definitions for parameters?

[2017-04-24 20:52] rochacbruno commented on #92
@wobeng the same way

[code]

[2017-04-24 21:06] wobeng commented on #92
Sorry for not clarifying. I mean something like this

[code]

[2017-04-25 14:53] wobeng opened #94 "MethodView inheritance"
Consider the example below: How do I add to the BaseAPIView parameters in PostAPIView get method instead of overriding it?

[code]

[2017-04-25 18:21] rochacbruno commented on #94
I got the idea and currently this is not supported.

Specifications must be isolated, each http method having its own YAML definition.

I can think of adding special attributes like.

[code]

I'll add this in the roadmap for next release.

[2017-04-25 18:24] wobeng commented on #94
@rochacbruno Thanks...do you know when you plan on releasing the next release?

[2017-04-28 08:53] tobixx opened #96 "Unable to reference in array items in parameters"
Hi,

first I want to say: thank you - for your open source work.
Second: I must blame myself as completely new to this whole flask, rest, swagger thing,
so maybe it is just my fault, but after trying several days all possible variations I'm very lost now.
So third - "the" problem:

when I expand your `examples/test_validation.yml` with
[code]
[test_validation_working_docs.txt](https://github.com/r

[2017-04-28 09:50] tobixx commented on #96
One additional note: while I experimented with inlining this part the documentation always says `inline_model` or `Inline Model 1` (depending on using schema or not) regardless given `id` or a `name` and the validation works not all in this case - means it is not triggered. But this probably another issue.

[2017-04-28 10:50] tobixx commented on #96
flasgger/utils.py +184: `if schema_id in swag.get('definitions', {})`
`schema_id: User`
`swag['definitons']: {'MyDefinedObject': {'type': 'object', 'properties': {'myProperty': {'type': 'string'}}}}`

[2017-04-28 11:16] tobixx commented on #96
Now I'm not sure why global definitions are searched on the local node, but as said - I have not much glue about the whole stuff.

At least
[code]

does help in that case without breaking tests. Just my 2c

[2017-05-01 17:33] tobixx commented on #96
Btw, I tried to find a way to write tests for the example data, so that all of them are tested too (to raise the coverage of the validation tests), but for me it seems that the generation of them is done js and there is no way to access it somehow - at least not for non-web developer like me...

[2017-05-12 10:34] lwm opened #99 "How to configure different swagger URI?"
I would like to use something else than `/apidocs/`, is it possible? I tried setting [specs_route](https://github.com/rochacbruno/flasgger/blob/master/flasgger/base.py#L346) in my configuration but it didn't work. Something I'm missing?

[2017-05-12 16:22] DanCardin opened #100 "Support vendor extensions"
I was going to write a minimal PR for doing this, but I wasn't sure how your test setup works in order to write a minimal test for this

Also I only care about doing this at the top level (to support x-groupTag with reDoc as a front-end template).

Basically, I inserted the below block right after the definition of `data` in `base.py` (~line 145)
[code]

and added the below block to `utils.py`
[co

[2017-05-12 20:09] rochacbruno commented on #100
@DanCardin

The test setup is very simple, you write an application under `/examples` folder and the app will run in travis so you can write a function `test_swag` to test anything you want.

Look the exemple: https://github.com/rochacbruno/flasgger/blob/master/examples/colors.py#L76

I like the idea, so if you can send a PR would be very nice.

[2017-05-12 20:15] rochacbruno commented on #99
specs_route must work, isn't it?
[code]

[2017-05-13 15:07] lwm commented on #99
Ah! It works. I was confused with the [initializing](https://github.com/rochacbruno/flasgger#initializing-flasgger-with-default-data) docs and the configuration. Thanks!

[2017-05-13 15:07] #99 closed

[2017-05-15 15:26] talitarossari commented on #75
The `README.md` is instance_path of the flask?

[2017-05-15 21:07] #100 closed

[2017-05-17 20:22] dkharlan opened #102 "Import feature misidentifies root path for endpoint"
Given `thing_doer.yml`:
[code]

with a file structure as follows:

[code]

I get the following exception:

[code]

The culprit appears to be https://github.com/rochacbruno/flasgger/blob/master/flasgger/utils.py#L362 where `obj.__globals__['__file__']` resolves to `'/Users/dkharlan/venvs/myenv/lib/python3.6/site-packages/flasgger/utils.py'`.  I'm not really sure why this would happen (maybe the way

[2017-05-17 20:23] dkharlan commented on #89
I finally got a chance to look at `import` and I ran into another problem, for which I've created issue #102.

[2017-05-18 16:28] Anshul21 opened #103 "Flasgger doesnt support basic auth"
Following is my spec

[code]
Everything works fine except the basic auth
![screen shot 2017-05-18 at 9 27 16 am](https://cloud.githubusercontent.com/assets/7298709/26213025/5145d784-3bac-11e7-99a4-49280677fa53.png)

[2017-05-25 17:13] daym opened #105 "Running unit tests"
We are trying to package flasgger in the Guix distribution. There, we usually run the unit tests before installation.

How should we do that for flasgger?

[2017-05-25 20:06] rochacbruno commented on #105
`pip install -r requirements.txt`

then

`make test`

or

`py.test tests`

[2017-05-26 10:00] daym commented on #105
make: *** No rule to make target 'test'.  Stop.

[2017-05-26 10:26] daym commented on #105
Yeah, using the github release invokes the tests, but I get:

[code]

[2017-05-26 10:50] daym commented on #105
After manually adding `--ignore=E731` to the Makefile, I get:

[code]

[2017-05-27 11:50] daym commented on #105
After manually amending PYTHONPATH, I get:

[code]

[2017-05-31 22:36] laranicolas commented on #86
@rochacbruno I never received any response about this issue.

[2017-06-01 04:17] rochacbruno commented on #86
Hey @laranicolas I had no time yet to play with Restless library, sorry, trying to get some more people to contribute with this.

[2017-06-01 11:52] laranicolas commented on #86
Ok, I understand @rochacbruno, but there is a way to pre-define endpoints using template? (without  using decorators).

[2017-06-01 17:07] rochacbruno commented on #86
@laranicolas yes!

Just pass a complete template

[code]
or

[code]

Examples:

https://github.com/rochacbruno/flasgger/blob/master/examples/colors_template.json
https://github.com/rochacbruno/flasgger/blob/master/examples/colors_template_json.py

[2017-06-01 21:10] laranicolas commented on #86
Great, so I will use that way.

Thanks.

[2017-06-01 21:10] #86 closed

[2017-06-03 06:16] daym commented on #105
This happens when apispec cannot be imported (because it cannot be found because we forgot to provide it).

[2017-06-06 17:10] kirsle opened #106 "Feature request: support custom decorators for /apidocs endpoint (e.g. HTTP Basic Auth)"
For an app I'm working on, I want to add custom decorators to the `/apidocs` and `/apispec_1.json` endpoints to require HTTP Basic Auth to view the Swagger docs. My API is "semi-private" and should only be so easily discoverable to internal developers and certain external partners, and so the Swagger spec should be hidden from the general public. Turning off Flasgger in production is not an option

[2017-06-07 14:25] netrounds-joakim opened #108 "Is it possible to use flask_restful + marshmallow"
I'm looking at this example that uses the `docstring` to specify the swagger:
https://github.com/rochacbruno/flasgger/blob/master/examples/restful.py

In this example it seems like I cannot use use `@swag_from`  like in the marshmallow example, instead I must use the `docstring` to pass the swagger description:
https://github.com/rochacbruno/flasgger/blob/master/examples/marshmallow_apispec.py

**

[2017-06-07 14:59] netrounds-joakim commented on #108
I tried replacing the **flask_restful** resource with a **SwaggerView** from **flasgger** instead. And by specfying:
[code]

That works. But then it will force that as a body parameter to the `get` as well. This is not really what I want, but I guess I can manage to "hack" around it.

However, it woudl be nice if it somehow was possible to simply give **flasgger** my schemas, and it will output th

[2017-06-07 15:04] rochacbruno commented on #108
Yeah that is something we need to cover, already mentioned in here: https://github.com/rochacbruno/flasgger/issues/94#issuecomment-297120932

[2017-06-07 15:09] netrounds-joakim commented on #108
Ah yes that is one use case.

But from articulating my question and now looking at the Marshmallow example again I now saw this that I had missed before:
https://github.com/rochacbruno/flasgger/blob/master/examples/marshmallow_apispec.py#L45-L47
[code]

Which does what I requested above. Except that it's inside of the `SwaggerView` class. And it works now like I want :)

[2017-06-07 15:15] rochacbruno commented on #108
That means we really need documentation :)

[2017-06-07 15:19] netrounds-joakim commented on #108
Ah ok, that explains why I could not find the documentation page. There is none :)

Thanks for your quick response.

[2017-06-07 15:43] netrounds-joakim commented on #108
Thinking about this use case some more.

I think it would be very helpful if this could be defined outside of the **SwaggerView** class like this. So one can have a set of "global" definitions.

A similar thing applies to **parameters**. Swagger 2.0 supports pre-defining and reusing parameters common between different resources in one place.

https://github.com/OAI/OpenAPI-Specification/blob/maste

[2017-06-07 15:46] rochacbruno commented on #108
@netrounds-joakim you can do that using `template` or `template_file` argument in `Swagger`

https://github.com/rochacbruno/flasgger/blob/master/examples/colors_template_json.py#L13

[2017-06-07 15:54] netrounds-joakim commented on #108
Ah yes, I was looking in that area, but attempted to put it in the `app.config['SWAGGER']` first... hehe

Thanks for the live support :)

[2017-06-07 21:19] #106 closed

[2017-06-08 03:07] rochacbruno commented on #103
I need help to resolve this

[2017-06-12 14:10] netrounds-joakim opened #111 "Swagger schema errors"
Hello,

I'm putting the output from flasgger into the Swagger online editor, and it complains about some of the output as Schema violations.

For example if I don't provide an explicit `externalDocs` in my swagger description, flasgger will still output an empty `externalDocs` dict.

This is considered a schema violation:
[code]

The solution is to simply remove this empty dict.

The same thing ap

[2017-06-19 07:23] prakhar21 opened #112 "YAML Configuration"
I am new to **flasgger** and was going through the repo and some examples. I need to make a POST request handler config file. Below mentioned link has a POST request and fits my use-case  perfectly.
Could you please help me out with it's YAML Config file

http://flasgger-rochacbruno.rhcloud.com/apidocs/index.html

[2017-06-19 12:52] prakhar21 opened #113 "Text Wrap not happening!"
Please see the attached (.png) and as you can see that **Data Type** under **Parameters** is not wrapping and is overflowing outside the main span and which is not scrollable. Similar happens if a long text is given in **Response Class**.  Is there any special tag or something that need to be specified in (YAML config) file for this functionality ?
![bug](https://user-images.githubusercontent.com/

[2017-06-19 18:17] prakhar21 commented on #112
Figured it out!

[2017-06-22 11:45] mrfuxi opened #119 "Upgrade version of swagger-ui"
UI v3 was added just before swagger-ui version 3 was released, now the current version is 3.0.16

[2017-06-25 11:33] pint12 opened #122 "schema validation abort directly"
schema validation abort directly
`    try:
        jsonschema.validate(data, main_def)
    except ValidationError as e:
        abort(Response(str(e), status=400))
`
should add option to only raise an exception and let the caller to handle it

[2017-06-25 11:41] pint12 commented on #122
currently i cant catch the err in order to parse it in GUI (the result is not in JSON )

[2017-06-25 14:38] #112 closed

[2017-06-26 08:47] rafal-jaworski opened #124 "Release new version with decorating flasgger views support"
Hey!

Could you release new version of flasgger? I want to use this https://github.com/rochacbruno/flasgger/pull/109 feature.

Thanks in advice.

[2017-06-26 15:48] rochacbruno commented on #124
Will do that later today :)

[2017-06-27 00:43] rochacbruno commented on #124
done

[2017-06-27 00:43] #124 closed

[2017-06-29 11:44] fdosani opened #126 "[Question] Can you just run the UI from a single external YAML?"
Hi there,

First off great project! Just a general question. Not sure if this is the same as issue #88
I'm using the `flask-restful` and would like to define my API externally in a YAML file and just use flassger to run the UI portion. I can't get it to work exactly. Is this even possible?

It seems to work fine if I'm writing YAML in the docstring similar to the example in the `README`: https://g

[2017-06-29 14:07] rochacbruno commented on #126
Take a look at this example:

https://github.com/rochacbruno/flasgger/blob/master/examples/colors_template.yaml
and
https://github.com/rochacbruno/flasgger/blob/master/examples/colors_template_yaml.py

In that example you have a single YAML describing all paths.

[2017-06-29 14:07] rochacbruno commented on #88
That is implemented already https://github.com/rochacbruno/flasgger/blob/master/examples/colors_template_yaml.py

closing

[2017-06-29 14:07] #88 closed

[2017-06-29 16:03] fdosani commented on #126
@rochacbruno Thank you. I was probably over thinking it. Got it working for my use case. 👍

[2017-06-29 16:03] #126 closed

[2017-06-30 18:47] allrod5 opened #128 "Enable adding schema definitions not linked to a specific endpoint"
Currently, if one has endpoints for managing a class of entities, the entity's schema which will be used in these endpoints needs to be explicitly defined in the specs of one endpoint and then you can just reference the schema with the `$ref: '#/definitions/Entity'` syntax.

You would be really nice to provide definitions apart the endpoint specs.

[2017-07-01 14:45] allrod5 commented on #122
@pint12 `@app.after_request()` annotation may work for this. Not the best solution I know, but it might work.

[2017-07-04 12:24] CptJason opened #130 "decorators requires_basic_auth not works"
[code]

[2017-07-04 22:37] rochacbruno commented on #130
@kirsle can you help us with this?

[2017-07-04 22:38] rochacbruno commented on #130
@CptJason what do you mean by "not works" the decorator is not being called? can you put a `print` or `logging` statement in the wrapped function to check if is being called?

[2017-07-05 11:12] CptJason commented on #130
@rochacbruno  I modified the decorator and it worked.

[code]

[2017-07-05 11:13] #130 closed

[2017-07-06 12:45] prakhar21 opened #131 "File Upload"
Hi,
One of my application requires to upload a file through flasgger. I am not sure, how to define the conf.
Below is what I did reading the Swagger docs:

`
"""
    This API let's you train word embeddings
    Call this api passing your file and get the word embeddings.

    ---
    tags:
      - Train (Word Embeddings)
    consumes:
      - multipart/form-data
    parameters:
      - in: formDat

[2017-07-09 06:46] prakhar21 commented on #131
Resolved.

type: file

is also required.

[2017-07-09 06:46] #131 closed

[2017-07-13 18:04] benjohnsonnlp opened #132 "Restrict Access to Swagger UI"
I'd like to be able to 401 on accesses to the swagger UI that don't have the correct credentials in their headers.  Is there currently a way to do this in flasgger, or is it something that needs to be added?

[2017-07-13 19:20] allrod5 commented on #132
You can restrict access to flasgger endpoints with a guard function registered to `Flask::before_request`:

[code]

[2017-07-13 19:33] allrod5 commented on #132
The caveat with this approach is that SwaggerUI won't just work as it will attempt accessing `/jsonspecs_1.json` without an API key. To make it work you'll have to manually append query parameter `?api_key=MY_API_KEY_HERE` for the JSON URL within the SwaggerUI explorer bar. Adding the api_key automatically is a feature flasgger does not provide yet.

If you want not to have this extra step then yo

[2017-07-14 13:35] benjohnsonnlp commented on #132
Great, I'll give this a try. Thanks!

[2017-07-14 13:35] #132 closed

[2017-07-16 20:56] mtronrd commented on #128
See https://github.com/rochacbruno/flasgger/pull/40 and https://github.com/rochacbruno/flasgger/issues/108

[2017-07-17 12:04] changsiyuan opened #133 "'Definition' in yaml can not define POST body example as an array or a nested object"
In the yaml file which describe the post api, when you try to define POST body example(under 'definitions' tag) as an array or a nested object, the flasgger can not display the POST body example correctly.

[code]

[2017-07-17 13:52] allrod5 commented on #128
Thanks @mtronrd, I missed the Swagger::definition decorator because it was removed from documentation at: https://github.com/rochacbruno/flasgger/commit/c2b660fa7c745286d1222d55c34cd524a20c7919

I'm not sure why it was removed, but I think it was unintentionally removed when @rochacbruno was making some changes in README. I'll test it and open a PR to re-add it to the README if it is the case.

[2017-07-18 06:33] pint12 opened #134 "HTTPS is not supported in the current flasgger version"
it seems that there is an issue regarding the HTTPS  for swagger ui that was solved in more advanced version
https://github.com/swagger-api/swagger-ui/issues/3166

so currently flasgger also does not support the HTTPS  api requests .

[2017-07-18 15:21] rochacbruno commented on #134
Ok, so it is time to update the swagger UI, will do that today

[2017-07-20 14:36] VjSng commented on #134
@rochacbruno. Thanks for the quick response on the issue. But by what time we shall expect the fix of this issue ?

[2017-07-21 02:31] rochacbruno commented on #134
@VjSng swagger UI updated and released, please test it and if ok pelase close this issue

[2017-07-24 14:23] VjSng commented on #134
@rochacbruno. I am still facing the same issue even though I have updated flasgger to the latest version i.e. 0.6.6.
![l_172c tmp](https://user-images.githubusercontent.com/30320963/28527765-33f45c5a-70a9-11e7-8acf-3a42573b5ab1.png)

I am using these settings. Even though the schemes tag has only "https", I am unable to use https request type in flasgger.

`template = {
  "swagger": "2.0",
  "info

[2017-07-24 14:48] VjSng commented on #134
@rochacbruno. I have just upgraded from 0.6.5 to 0.6.6. Is this the version which has the Fix ?

[2017-07-24 14:55] rochacbruno commented on #134
@VjSng yes 0.6.6 has the latest swagger-ui

[2017-07-24 15:11] allrod5 commented on #134
@VjSng Does the fix you mentioned was released for SwaggerUI 2? Give SwaggerUI 3 a try:
[code]

[2017-07-24 15:12] allrod5 commented on #134
@VjSng Yet, `"schemes": [ [ "https" ] ]` shouldn't be `"schemes": [ "https" ]`?

[2017-07-25 10:46] netrounds-oleg-b opened #137 "RuntimeError: original source dist cannot contain .pyc files"
Trying to convert PIP packages into Debian packages using **python-stdeb** (for maintainability purposes). Having scripts and mechanism to do it, which works perfectly fine. It converts any PIP package into debian except for `flasgger` version 0.6.0+ (so 0.5.14 and every version below getting converted just fine):

[code]

Again this happens only of Flasgger **version >= 0.6.0**.

Was something ch

[2017-07-25 15:51] rochacbruno commented on #137
`between 0.5.14 and 0.6.0` many things changed, we instroduced python 3.x support and it comes with `six` package also we splitted flasgger in different modules.

I cannot find any explicit reason for the .pyc being included, but maybe the problem is the use of `*` in `MANIFEST.in`

Can you try editing your https://github.com/rochacbruno/flasgger/blob/master/MANIFEST.in#L2 remove that line and try

[2017-07-26 07:39] netrounds-oleg-b commented on #137
@rochacbruno thank you for a response.

Have cloned **flasgger**, modified the **MANIFEST.in** as you suggested and ran my build script. This time it would build all dependency-modules:

![image](https://user-images.githubusercontent.com/10723972/28609675-50a1fd6c-71ee-11e7-820c-9c7c5558ee3e.png)

In the end it failed for the same reason. By the way, reverting **MINIFEST.in** back didn't affect an

[2017-07-26 11:33] VjSng commented on #134
@rochacbruno  and @allrod5. Thanks it's working fine now :)

[2017-07-26 13:18] rochacbruno commented on #134
@VjSng jsut for the record, it was a problem with `"schemes": [ "https" ]`? or are you using `ui: 3` ?

[2017-07-30 21:31] ashee opened #138 "Is there a way to generate swagger from a flasgger app?"
I am having trouble finding documentation on how to reverse generate swagger.yaml or swagger.json from a flasgger app. Is this supported?

Ideally, I would like to hit an endpoint similar to /apidocs/ such as /apidocs/swagger.yaml that would generate a swagger yaml.

[2017-07-30 21:36] ashee commented on #138
I discovered that the javascript app is invoking this endpoint /apispec_1.json to get a swagger spec in json. Is that a stable URI?

[2017-07-31 01:11] rochacbruno commented on #138
@ashee yes, specs will be generated in json in `/apispec_1.json` and if you have more than one spec in the list it will be `_2.json` and so on..

[2017-08-01 22:36] mayurjain0312 opened #139 "ImportError: No module named flasgger"
I did the following:
sudo pip --no-cache-dir install flasgger

/usr/local/lib/python2.7/dist-packages/pip/_vendor/pkg_resources/__init__.py:1874: UserWarning: /usr/lib/pymodules/python2.7/rpl-1.5.5.egg-info could not be properly decoded in UTF-8
  warnings.warn(msg)
Requirement already satisfied: flasgger in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied: PyYAML>=3.0 in /usr/

[2017-08-02 01:30] rochacbruno commented on #139
Looks like you have something wrong in your local python installation, also it is not recomended to use `sudo` to install dependencies, and when used `-H -U` should be passed.

[code]

[2017-08-02 17:15] mayurjain0312 commented on #139
Hi,

I did a pip uninstall first:
sudo pip uninstall flasgger
/usr/local/lib/python2.7/dist-packages/pip/_vendor/pkg_resources/__init__.py:1874: UserWarning: /usr/lib/pymodules/python2.7/rpl-1.5.5.egg-info could not be properly decoded in UTF-8
  warnings.warn(msg)
The directory '/usr2/mayurj/.cache/pip/http' or its parent directory is not owned by the current user and the cache has been disabled.

[2017-08-02 17:33] mayurjain0312 commented on #139
@ rochacbruno : Thanks for your response.
I found the problem, it was with my way of installing flasgger.

[2017-08-02 17:57] #139 closed

[2017-08-03 10:12] VjSng opened #141 "The Validation of API Payload does not passes if the optional Fields are of type other than String"
I wrote this in YML file . The validation passes only if there is no optional field (Not required field in the definitions ) of type object or array.

`Create new Deployment Unit
---
tags:
   - Deployment Unit
parameters:
- name: Token
  in: header
  description: API key
  required: true
  type: string
  format: string
- name: input
  in: body
  description: Deployment Unit data
  required: true

[2017-08-03 10:29] VjSng commented on #134
@rochacbruno The problem was with the ui:3.

[2017-08-03 13:49] origliante opened #142 "External yml with flask_restful method"
Is this an expected behaviour?

This works:
[code]

This:

[code]

Gives:
Code: 200
Data: {
  "message": null
}

[2017-08-04 06:59] origliante commented on #142
Right now I'm having an issue also with file: todo_get.yml:

  File "/Users/XX/.virtualenvs/XX/lib/python2.7/site-packages/flasgger/utils.py", line 478, in parse_docstring
    obj.root_path = root_path
AttributeError: 'instancemethod' object has no attribute 'root_path'

Attaching the code:

[a_restful_api.tar.gz](https://github.com/rochacbruno/flasgger/files/1199480/a_restful_api.tar.gz)

[2017-08-07 11:10] VjSng commented on #141
@rochacbruno . can you please provide some resolution ?

[2017-08-07 14:02] allrod5 commented on #122
@pint12 Next release will feature support for using custom validation error handling functions: https://github.com/rochacbruno/flasgger#validation-error-handling

[2017-08-07 14:08] pint12 commented on #122
0.6.7 ?

[2017-08-07 14:14] allrod5 commented on #122
@pint12 Yes, originally planned for a major 0.7.0 release but it will no longer be necessary I think. So 0.6.7 will be.

There is, though, a design flaw in _@swag_from_ that I want to fix before releasing 0.6.7:

[code]

The same happens if you set a custom default _validation_function_ to _Swagger_.

[2017-08-07 14:53] allrod5 commented on #141
I haven't tried to reproduce your error yet, but `items` seems to be lacking proper schema definition:

[code]

[2017-08-07 16:08] JoakimSoderberg opened #145 "Move development pip packages to separate requirements.txt"
Currently things like coveralls and unit tests files are included in the `requirements.txt`. The only way these extra packages only used for unit tests and development are separated are via a comment.

Why not break these out into a separate `requirements-dev.txt` instead? Then when one wants to develop or run unit tests one can install these extra packages:

Normal use:
[code]

Then during develo

[2017-08-07 22:03] rochacbruno commented on #145
I am ok with this if you can send a PR and also fix travis CI to also isntal this new file.

But note that you only need requirements.txt for development, because `python setup.py install` already installs everything from https://github.com/rochacbruno/flasgger/blob/master/setup.py#L47

[2017-08-10 17:42] rochacbruno opened #146 "OPen Spec 3.0"
https://www.youtube.com/watch?v=wBDSR0x3GZo

[2017-08-11 20:28] subirjolly opened #147 "Date Format Not Working"
Flasgger isn't validating date. This is kinda what I have.

[code]

[2017-08-12 03:42] allrod5 commented on #147
Flasgger uses [python-jsonschema](http://python-jsonschema.readthedocs.io) to perform validation, which supports [optional format validation](http://python-jsonschema.readthedocs.io/en/latest/_modules/jsonschema/_format). While Flasgger does not enforces ``format`` validation, you can [supply Flasgger any other validation method you want](https://github.com/rochacbruno/flasgger#custom-validation).

[2017-08-15 20:00] frizner commented on #103
I've resolved the issue of authentication using the next code:
`swagger_template = {
        ...,
        'securityDefinitions': {
            'basicAuth': {
                'type': 'basic'
            }
        },
        ...
    }
Swagger(app, config=config[config_name].swagger_config, template=swagger_template)`

![image](https://user-images.githubusercontent.com/3438966/29333683-b612d394-81d2-

[2017-08-15 20:51] rochacbruno commented on #103
@frizner it would be nice to add it as an example and also include the image and code snippet in README.md

[2017-08-16 12:16] frizner opened #148 "How to set "Parameter content type""
I need to change "Parameter content type" from "application/json" to "text/plain" for a "body" type parameter.
How can I do it?
Thanks.

[2017-08-16 15:53] SBillion commented on #47
You can define global securityDefinitions and use it for view you want to protect. For exemple here, I defined to way to set an api key
`SWAGGER_TEMPLATE = {
        "host": "localhost:5000",
        "schemes": [
            "http"
        ],
        "securityDefinitions": {
            "APIKeyHeader": {
                "type": "apiKey",
                "name": "X-Api-Key",
                "in": "

[2017-08-16 17:59] frizner commented on #148
The issue is resolved. Just added code
`
'consumes': [
        'text/plain',
        'application/json',
        'application/xml'
    ]
`
in spec of method, not in spec of a parameter.

[2017-08-21 16:38] JoakimSoderberg commented on #145
Done:
https://github.com/rochacbruno/flasgger/pull/149

[2017-08-21 17:24] #145 closed

[2017-08-21 20:50] JoakimSoderberg commented on #137
The `*.pyc` files included are these:
[code]

[2017-08-21 21:48] JoakimSoderberg commented on #137
They don't get included if I use the git URL in `requirements.txt` which results in a `.zip` instead of `.tar.gz` gets downloaded... And in this case `py2dsc-deb` is happy and does not find any of these pyc files. Not sure why.

But of course it would be nice to be able to download these as a normal pip package as well.

[2017-08-21 21:54] rochacbruno commented on #137
looks like `__pycache__` folder is being distributed with the `pip` release.

[2017-08-21 21:55] rochacbruno commented on #137
And the problem must be the https://github.com/rochacbruno/flasgger/blob/master/MANIFEST.in

[2017-08-21 21:57] rochacbruno commented on #137
or maybe the problem is https://github.com/rochacbruno/flasgger/blob/fe53c1dbed31e0ecd0752f068f03b09f4183458f/setup.py#L44

[2017-08-21 22:06] JoakimSoderberg commented on #137
https://docs.python.org/2/distutils/sourcedist.html#commands

Maybe this can be used in the MANIFEST file:

global-exclude pat1 pat2 ... | exclude all files anywhere in the source tree matching — & any of the listed patterns
-- | --

something like (if I understand it correctly):
[code]

[2017-09-01 22:11] rochacbruno opened #152 "Implement decorator based specs"
I liked the [idea](https://github.com/channelcat/sanic-openapi/blob/master/examples/cars/blueprints/car.py#L14)

So we can copy this!

[code]

It is also possible to take other examples from that repo

[2017-09-06 16:04] rotten opened #153 "bypass graphql endpoint"
I've injected a GraphQL endpoint into my otherwise Flask based REST API (using Graphene).

Unfortunately this breaks the flasgger swagger ui:
`AttributeError: type object 'GraphQLView' has no attribute 'get'
`
Because of the nature of GraphQL endpoints, I don't really need a Swagger doc for it.

I set up the new endpoint like this:
[code]

I'd like to be able to tell flasgger that it should just i

[2017-09-06 16:09] rotten commented on #153
Doing this at the top of the file - and then changing the **view_func** - seemed to work, but only because it doesn't look like these functions already existed in GraphQLView:

[code]

Is that really the best approach?

[2017-09-06 16:16] rochacbruno commented on #153
@rotten looks like a bug, flasgger should ignore non `swaggable` endpoints. I'll take a look

[2017-09-06 17:07] rochacbruno commented on #153
@rotten can you tell me esact traceback message?

Which lines generated the `AttributeError: type object 'GraphQLView' has no attribute 'get'` ?

[2017-09-06 19:06] rotten commented on #153
Here's the full stack:
[code]

[2017-09-13 13:53] juliencuvillier commented on #142
Any update on this issue ?

[2017-09-13 20:15] rotten opened #155 "feature request - logger handle"
It would be great if there was a logger handle that I could grab for Swagger to log accesses, errors, and debug information to my api system log.

I would hope for something similar to adding these other handlers to my app.

[code]

[2017-09-21 13:19] fernandochimi opened #156 "UnicodeDecodeError in /apispec_1.json"
An error ocurred in docs when I put characters with "ç", "ã", etc.
`UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 844: ordinal not in range(128)
  File "flask/app.py", line 1982, in wsgi_app
    response = self.full_dispatch_request()
  File "flask/app.py", line 1614, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "flask_restful/__init__.py", line 271

[2017-09-21 14:35] rochacbruno commented on #156
Hi, where exaclty are you putting those chars? in yaml file specs? in doctring specs? or other attribute? can you give an example?

[2017-09-21 14:37] fernandochimi commented on #156
@rochacbruno I put in yml file, on parameters > schema > description

[2017-09-25 11:43] hunt3ri opened #157 "Supporting requestBody in Swagger UI v3"
Hi

I was experimenting with UI v3, and it looks like it doesn't support the new [requestBody object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#requestBodyObject).  What, if any, plans do you have to support the Swagger 3 spec?

Thanks
Iain

[2017-09-25 13:20] rochacbruno commented on #157
That would be nice to have it!
I'll wait for a PR from any of contributors (or start working on this when I got time)

[2017-09-28 14:49] wobeng opened #158 "swagger config after init"
I want to generate my host and schemes in swagger dynamically by using request.

for example

[code]

Is it possible after Swagger(app) ?

[2017-09-28 15:18] rochacbruno commented on #158
Hi, There is not built-in feature, however you can try with a `LazyString`

`pip install stringlike`

[code]

[2017-09-28 15:22] wobeng commented on #158
Thanks for your fast response.

Will try it and update you

[2017-09-28 15:36] wobeng commented on #158
I got TypeError: <stringlike.lazy.LazyString object at 0x7fcc7c21f208> is not JSON serializable doing below

[code]

[2017-09-28 15:58] rochacbruno commented on #158
@wobeng thanks for trying.

We can fix this by extending the `jsonify` serializers to recognize the LazyString, and maybe bring the LazyString in as `flasgger.lazy` I'll give a try.

[2017-09-28 17:15] wobeng commented on #158
you are the man!

Please update me when its fixed

[2017-09-28 22:37] #158 closed

[2017-09-28 22:38] rochacbruno commented on #158
@wobeng done! released in 0.7.0 added examples/lazy_string.py

[2017-09-28 22:44] rochacbruno commented on #158
[code]

[2017-09-29 17:01] vladimircape opened #159 "How to use flasgger with Blueprint"
Hello.
I have mainApp.py and right now use Vagrant
[code]

and in MainController.py
[code]
But got error

[2017-09-29 17:11] rochacbruno commented on #159
@vladimircape Flasgger works ok with Blueprints as in the test located in https://github.com/rochacbruno/flasgger/blob/master/examples/example_blueprint.py

Your error has nothing to do with flasgger but with your Python installation

`ImportError: No module named 'vagrant'`

[2017-09-29 17:16] vladimircape commented on #159
@rochacbruno Thanks for fast reply.
I saw this example, but i have little bit different. my MainController.py it's a separate python file.
I made like in you sample just in one file mainApp.py and everything was ok, but when i start to separate files got this error.
About error. It looks very strange, because Vagrant it's my https://www.vagrantup.com/ which i use for this application.
This error i

[2017-10-04 12:35] schamp commented on #93
I can take a stab at this.

[2017-10-04 13:37] rochacbruno commented on #158
@wobeng please take a look at README and examples/lazy as I reverted the change and now you have to set JSONEncoder automatically

[2017-10-04 13:38] wobeng commented on #158
will do, thanks :)

[2017-10-10 22:56] schamp commented on #93
It looks like the problem is here:  https://github.com/rochacbruno/flasgger/blob/6710a6e05217ae89810a445ee3f1bd6e672688a1/flasgger/utils.py#L497

It appears to assume that there will be a file header, if there's not, the "---" gets passed over looking for the first "\n" and it is not found, and the code assumes there is no YAML, just a docstring.

I believe the correct approach is to skip looking

[2017-10-11 03:35] #93 closed

[2017-10-24 00:26] currand opened #161 "Accessing response model"
I have a .yml file with a response model like this:

[code]

I'd like to use that to create the response portion of my API.  Something like:

[code]

I see how I can access a schema but not the responses.  So that I'd only have to write minimal code

[2017-10-25 13:56] neumannrf commented on #119
Is the purpose of this issue to update the look and feel of flasgger-created `/apidocs/` from [the old style](http://flasgger.pythonanywhere.com/example_app/apidocs/#/users) to [the new style](http://petstore.swagger.io/)?

[2017-10-25 13:56] neumannrf commented on #146
Is the purpose of this issue to update the look and feel of flasgger-created `/apidocs/` from [the old style](http://flasgger.pythonanywhere.com/example_app/apidocs/#/users) to [the new style](http://petstore.swagger.io/)?

[2017-10-25 15:04] kibernick opened #162 "Using marshmallow schemas gives "not defined!" error in output"
For instance, when running the ["colors_with_schema" example](https://github.com/rochacbruno/flasgger/blob/master/examples//colors_with_schema.py), instead of the schema, like in [base_model_view](https://github.com/rochacbruno/flasgger/blob/master/examples//base_model_view.py), this gives: `<span class="strong">Palette is not defined!</span>`

This can also be seen [live](http://flasgger.pythonan

[2017-10-25 15:20] mrfuxi commented on #119
I guess, basically use up to date version of `https://github.com/swagger-api/swagger-ui`

[2017-10-25 15:49] rochacbruno commented on #146
@neumannrf no it is not about the UI (we already updated ui to version 3) the purpose is to add new tags available in openspec 3.0

[2017-10-25 19:41] neumannrf commented on #146
@rochacbruno I only get the UI v3 look and feel if I add `"uiversion": 3` to the config JSON.
Is this the correct way to do it?

I tried replacing every occurrence of `2` by `3` in my config JSON (ex: `swagger_version` and `swagger`) but none of that changed the UI to v3.

[2017-10-26 11:41] kibernick commented on #162
OK, a simple solution is to add the commented out lines from the example: https://github.com/rochacbruno/flasgger/blob/master/examples//colors_with_schema.py#L30

Not sure why this was commented out?

[2017-10-27 17:47] damien-dg opened #163 "Inherited dispatch_request None"
Hello,

I'm trying to apply flasgger to an existing app, and some views have the following structure:
[code]
in this code snippet from flasgger/utils.py:
[code]
When get_specs runs, for views using the GenericModel, `hasattr(klass, 'dispatch_request')` returns true, but `klass.__dict__.get('dispatch_request')` returns None because dispatch_request is defined on the grandparent class.
Is this a pro

[2017-10-28 20:25] #122 closed

[2017-10-31 08:51] leelu opened #164 "Parameters are not viewable in apidocs view"
Hi,

When parameters for specific HTTP methods are given, then in **apidocs view** the parameters are not showing up. Below is an example that i was trying. To fix this I have done a small change in base.py at line number 201, I have added below code after line 201

[code]
Is this fine to fix this issue ?
ex:
[https://pastebin.com/ghAq3LEU](url)

[2017-10-31 15:50] rochacbruno commented on #164
can you send a Pull Request please?

[2017-11-02 16:57] mexekanez opened #167 "Swagger 2.0 does not support null types"
Here is my swagger.json it's generated with SwaggerView
for schema I using marshmallow

`{
  "definitions": {
    "BuildingSwimmingPoolSchema": {
      "properties": {
        "address_ids": {
          "default": null,
          "items": {
            "properties": {
              "address_ids": {
                "default": null,
                "type": "string"
              }
            },

[2017-11-02 17:02] mexekanez commented on #167
just investigated
null has been taken from model where default value not set why???

how to short this list up to Schema above?

[2017-11-03 08:42] mexekanez commented on #167
hm... it doesn't works properly with ModelSchema... weird

will it has future implementation?

[2017-11-03 08:51] yumen opened #168 "does not support upload"
"""
    test
    ---
    tags:
      - test
    parameters:
      - in: file
        name: formData

        type: file
        required: true

    responses:
      200:
        description:
    """
my yaml is this,I find it can upload succ,need you help and can give me a upload example,thanks very much.

[2017-11-05 15:28] bool-dev opened #169 "Allow decorators to be passed in init_app"
When using the [application factory pattern](http://flask.pocoo.org/docs/0.12/patterns/appfactories/), we generally use `init_app` for extensions to pass in the `app` object to the extension. It would be nice to be able to pass in the `decorators` during this call, instead of having to pass it in `Swagger()`.

[2017-11-06 09:14] SBillion commented on #156
I get the same if I let an accent anywhere in the yml.
@fernandochimi I know this is not a fix for this encoding error but maybe you should think to write your documentation in english only. It's always a best practice to write documentation in english because next developers using your API could not understand your language

[2017-11-06 09:16] SBillion commented on #146
@neumannrf Just change the uiversion number to get UI v3.

[code]

[2017-11-06 09:18] SBillion commented on #146
@rochacbruno SwaggerUI just did a release with OpenAPI 3.0 compatibility. A simple update of SwaggerUI would be a good step to begin

[2017-11-07 00:16] #169 closed

[2017-11-07 09:29] abcshravan opened #171 "dint support changing host name"
application on localhost:5000
while "post" response it should lunch to localhost:8082.
Are they even way to change HOST IP?

[2017-11-07 17:06] #164 closed

[2017-11-07 17:06] leelu commented on #164
Fix merged to the code

[2017-11-27 11:59] Teyras opened #172 "Smarter merging of specs_dict"
I tried implementing a custom decorator that autofills some repetitive documentation data using the `specs_dict` attribute on the decorated function (this is also used by `@swag_from`). However, because of [this line](https://github.com/rochacbruno/flasgger/blob/8adba148ec4b262ac304b8439e10f55ef521c285/flasgger/utils.py#L110), some of my autofilled data gets overwritten by data in the docblock. Fo

[2017-11-27 14:13] allrod5 commented on #172
Despite I am not the one who wrote the code you reference (git blame points my user because I moved this function to where it is now) feel free to implement the feature, as long tests passes it shouldn't break anything.

[2017-12-04 21:08] Teyras commented on #172
Can I get a review on my PR, please?

[2017-12-06 05:13] #172 closed

[2017-12-28 21:26] afausti opened #174 "How does flasgger handle multiple endpoints with flask-resful?"
I'm using `flask-restful` and have a resource with two endpoints, like this:

[code]
where `job_id` is used only by the GET method.

In the resources code I have:
[code]
the result is a swagger spec with two paths, one for `/job/{job_id}` and another one for `/job` and the GET method is duplicated in the swagger UI.

Is it possible to separate specifications by endpoint or method in this case?

[2018-01-02 13:27] #162 closed

[2018-01-11 05:47] zeeshan2709 commented on #142
Any update here?

[2018-01-11 22:09] afausti commented on #174
Update on this issue:

 I tried to register the two URLs `/job/{job_id}` and `/job`  defining two different endpoints explicitly, but it didn't work.

[code]

A workaround to get the expected result is to implement the methods that require the argument in a different resource, which is not great from the point of view of `flask-restful` but works.

[code]

[code]

[2018-01-12 16:35] afausti commented on #174
btw, thanks for developing flasgger it is great to have the API spec as close as possible to the code. I'm also using the swagger specification extracted by flasgger to generate a static html documentation for the API using the `sphinxcontrib-openapi` package. It's looking like this https://sqr-009.lsst.io/#the-squash-restful-api

[2018-01-22 12:37] Kvasela opened #176 "How to fetch next result "idStatus=1&idStatus=3""
I have next yml file

[code]

[2018-01-24 07:17] MedyG commented on #156
Same problem. I have a 'utf-8' encoding yml file where some chars is not pure english, when I use @swag_from('utils.yml'), I got the same error.
So I review the code and find the code line 436 in `flasgger/utils.py`

           with open(swag_path) as yaml_file:
               return yaml_file.read()

I add attr `encoding='utf-8'` into open() and I can swag the file encoded in `utf-8` now.
I don't

[2018-01-24 10:23] Kvasela commented on #176
I found the solution to use ` collectionFormat: "multi"`

[2018-01-24 10:23] #176 closed

[2018-02-14 11:46] robertlagrant opened #179 "Validation with definitions mixed in with allOf"
I'm struggling to make flassger validation work with allOf'd definitions pulled into my resource definition. Using `validation=True` seems to always pass, and using `validate()` seems to not like traversing definitions as with allOf.

I've created a sample project to illustrate: https://github.com/robertlagrant/flasgger_broken

[2018-02-14 14:41] robertlagrant commented on #179
@rochacbruno thanks - makes sense. I'm still getting up to speed with Python's Swagger tooling, but [Flex](http://flex-swagger.readthedocs.io/en/latest/) seems plausible?

[2018-02-19 09:24] eregnier opened #181 "yaml syntax broken"
Hello
I have an issue now that is
https://gist.github.com/anonymous/904c4628fc3f9d23870a915cf0111610

because we have some files like
https://zerobin.net/?e3390f9a981a3ccd#mAvv8zX8ItzuQPs6qxIqXVPDc03d4yspKeQ1mQTeYms=

and our flasgger version is
flasgger==0.8.0
previously
flasgger==0.6.3

It was working fine until I upgraded flasgger version. (maybe I done something else, but I don't mind what)

A

[2018-02-19 09:40] eregnier commented on #181
Edit : I just tried to run swagger with flasgger 0.8.0 instead of 0.8.1 and it works (note that in my initial issue there is a mistake : I meant we upgraded to 0.8.1 where the breaking change seems to appear.

[2018-02-19 17:47] rochacbruno commented on #181
[code]

[2018-02-19 17:48] rochacbruno commented on #181
[code]

[2018-02-19 17:48] rochacbruno commented on #181
@eregnier I'll investigate the issue

[2018-02-19 23:07] eregnier commented on #181
I missed to share an information : When I tried to investigate a bit on this issue I found this thread which is related in a sense, but with no more troubleshooting / experiments I am not really sure. Here is the thread I am speaking about
https://stackoverflow.com/questions/14359557/reading-yaml-in-python

[2018-02-20 15:34] AlexeySanko commented on #96
Hi.
Does exist workaround or fix? Now I use my own `validate` with copy code from `flasgger.utils.validate`. It doesn't look like great. :worried:
Thanks.

[2018-03-20 01:29] kloty opened #183 "Handling multiple http methods for a single function from dictionary"
I have read README about **Handling multiple http methods and routes for a single function** and its source code.

But it is only when using external YAML files, right?

Are there any ways i can separate specs when using dictionary?

[2018-03-20 03:42] rochacbruno commented on #183
I guess you can use https://github.com/rochacbruno/flasgger#using-dictionaries-as-raw-specs and pass method and endpoint

[2018-03-20 04:39] kloty commented on #183
[code]

but in source code, when spec is dictionary, endpoint and methods doesn't pass to function.

[2018-03-28 09:05] epicGeek opened #185 "How to use flasgger with many blueprints?"
I'm new to python and I feel sorry for this is a stupid question.

I have many blueprints in my project.

file directories in my project:

app/view/       # here are many flask restful apis

for eg:

**books.py**

[code]

**tree.py**

[code]

and I have a 'manager.py' to run this project ,which exists at : app/

**manager.py**

[code]

There is no API at localhost:27016/apidocs ,but flasgger page.

[2018-03-31 14:58] oceanicdev commented on #174
Hi, I have the same issue. Do we have a solution without definition new resource?

[2018-04-10 22:33] blue995 commented on #185
Same issue here. Haven't figured it out yet...

[2018-04-13 23:57] afausti commented on #174
Hi @oceanicdev I am still using the work around described above. @rochacbruno I would be happy to contribute would you provide any guideline?

[2018-04-22 14:47] Mallouly opened #188 "TemplateNotFound: flasgger/index.html"
hi,
I tried to add flasgger to my restful api.
i used yaml files for each method but when I'm trying to see the documentation  at localhost:port/apidocs I getting the following error:
jinja2.exceptions.TemplateNotFound: flasgger/index.html

any suggestion?

thanks in advance

[2018-04-22 15:40] #188 closed

[2018-04-23 15:15] abstiles opened #189 "BUG: Using SwaggerView and Schema results in broken JSON docs"
The Swagger JSON produced by Flasgger is incorrect and does not validate when using the "Marshmallow Schemas" style. I have not yet figured out all the ways in which the generated JSON is incorrect, but among its errors is generating illegal "definitions" objects where it should just generate schema refs when necessary.

Steps to reproduce:

1. Take the example under the "Marshmallow Schemas" head

[2018-04-23 15:36] abstiles commented on #189
Downgrading from 0.8.1 to 0.8.0 results in a completely different error:

[code]

The cause of this one is clear: the definitions entry at the top level is empty.

I think this bug is (at least in part) caused by Pull Request #175, which looks like it was intended to fix the empty definitions entry, but introduced an issue where it erroneously adds definitions entries in many places it should not.

[2018-04-23 16:28] abstiles commented on #189
Pull Request #184 solves some of the problem by omitting the inclusion of empty definitions entries, but the problem is that these definitions entries are not valid *at all*, as far as I can tell. I'm not sure why flasgger includes them anywhere except at the top level.

[2018-04-23 17:11] abstiles commented on #189
It looks like your tests would catch this error, except that `flex.core.validate` does not validate Swagger docs. It is intended for JSON Schema validation. Changing it to use `flex.load` instead catches this error as well as several other test failures. That might be worth a separate fix.

[2018-04-25 02:32] #157 closed

[2018-04-25 02:34] #189 closed

[2018-04-25 20:19] abstiles opened #192 "Test suite does not validate swagger JSON completely"
When I was investigating issue #189, I discovered that the bug would have been caught by the test suite if it had used `flex.load` instead of `flex.core.validate`. To help avoid similar issues in the future, it would be nice to switch to using `flex.load`. At this point in time, there are five test failures on the master branch if we switch to `flex.load`. The following examples fail validation:

[2018-04-26 13:53] #192 closed

[2018-04-26 18:53] abstiles opened #194 "Request: release a new version (0.8.2?) with the latest bug fixes"
Please publish a new release of Flasgger. I am currently relying on a local build of this repository at a fixed commit, and it would be nice to resume using an official release. Thank you!

[2018-04-26 19:10] rochacbruno commented on #194
Will do by the weekend, I'll run some integration tests and upgrade tests on my apps.

@allrod5 something else you think is missing to a new release?

[2018-04-27 18:05] allrod5 commented on #194
@rochacbruno I think it's fine to publish a new release :+1:

[2018-04-27 19:31] #194 closed

[2018-04-29 20:58] andyd0 opened #195 "flasgger showing the wrong example value for body (from another function)"
Not sure if this is the right place for this...if it should be swagger but...

The below is just toy code / learning but I'm having issues with Flasgger picking up the right detail for `Example Value` for the body for `Item`. If I leave in the `Order` swagger detail, I get a different `Example Value` than if I remove it.  For example, if I include `Order`'s swagger detail the `Example Value` body

[2018-04-30 13:57] rochacbruno commented on #195
Can you post the generated JSON

[2018-05-01 13:43] andyd0 commented on #195
Is the below what you're after?  I'm thinking it has to do with the route \orders\{}\items\{}

![capture](https://user-images.githubusercontent.com/7110426/39474879-fba1b016-4d23-11e8-9e19-422e3169cc3f.JPG)

[2018-05-01 18:59] phil2fer opened #196 "use swaggerUiPrefix in template_file"
I want to use template_file argument with a unique YAML file.
But i'm behind  a reverse proxy and i need to use the "swaggerUiPrefix" option in the template.

`swaggerUiPrefix=LazyString(lambda : request.environ.get('HTTP_X_SCRIPT_NAME', ''))`

But when i use a YAML file, this option doesn't work. flasgger see this option like a string

How can i use the 'swaggerUiPrefix' in YAML file ?

[2018-05-02 02:07] rochacbruno commented on #196
Currently there is no way to evaluate lazy values on YAML, we can implement it.

[2018-05-02 19:38] phil2fer commented on #196
thank you for your quick answer.
Why not move this option to the swagger config dictionary ? I think is more a config parameter than a template parameter

[2018-05-04 08:16] venthur opened #197 "Providing Swagger Documentation in a Separated App?"
Hi,

currently when I wrap my app with `flasgger` I have as a result my app + the Swagger documentation in one app.

Is it possible to separate the `Swagger` app from the `app` that needs to be documented? I.e. if I don't want to mingle my production app with other middleware but rather have a separate app for the documentation that only produces the documentation (without providing the actual met

[2018-05-04 11:22] code-player opened #198 "Can't send formData with GET requests."
I'm trying to make a GET request to my api, using `flasgger-ui`. But I get the response:

[code]
As the endpoint expects a parameter in formBody and data is not parsed properly by flasgger-ui, I get this response.
Another important point is the CURL request command generated at flasgger-ui , if run directly from terminal. Gives the expected results.
And I can even send data in formBody with GET re

[2018-05-10 06:05] AngelLiang commented on #156
Yeah! Thanks MedyG. I can use this successfully:

[code]

[2018-05-18 01:57] rochacbruno commented on #197
One solution is passing the full specs in `template=` argument.

We can think about implementing a way to generate it from a bunch of yaml files names with the method names.

[2018-05-22 14:27] rochacbruno opened #199 "RFC: default to uiversion 3 ?"
Hi,

As you can see in http://httpbin.org the uiversion: 3 is fully working

I am thinking of changing the default to uiversion:3

comments?

[2018-05-25 13:02] rochacbruno commented on #198
@code-player can you provide a simple `app` (in form of gist.github.com where I can reproduce the problem?

[2018-05-25 13:28] code-player commented on #198
https://gist.github.com/code-player/eea29e0be69bd7f0592b9c3e9e753538
@rochacbruno
Try running above code.
First use swagger-ui to make request and then use the CURL command provided in swagger-ui to make same request.
You will see the difference in response generated for each requests.

[2018-05-25 15:05] rochacbruno commented on #198
The error is explicit `TypeError: Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body.`

While `curl` allows us to send GET along with formData looks like swagger is more strict about it and does not allow sending it to conform with HTTP specs.

I am trying to find a way to configure swagger to be less strict and add it as an option to configure.

[2018-05-25 16:11] code-player commented on #198
I can send formData even with other modules like `requests`. And furthermore, we can have formBody with GET Request as well. Its just people usually send data in url itself, thats why its not very often. But I need to send have this feature in APIs because I have to send data in get request as well. No other request module prevent this feature.

That would be really helpful.
Thnaks

[2018-05-25 16:34] #148 closed

[2018-06-02 21:36] #199 closed

[2018-06-05 16:07] pernambucano opened #202 "How reduce code to register paths to template"
Hello everyone!

I'm using vanilla Flask (no flask-restful or anything like that) with lots of blueprints and the factory pattern to develop a restful api. Because I'm using method-based views (good ol' methods decorated with @app.route) I need to register all the paths and definitions to the template like so :

`template = spec.to_flasgger(app=app, definitions= [... List of Marshmallow schemas...

[2018-06-05 18:49] rochacbruno commented on #202
Someone suggested we support defining a set of yaml files in a given directory and then make flasgger to load the specs from there.

I cant think of a solution right now but the project is open to new implementations if you have some idea.

Why arent you defining your specs in each blueprint views?

[2018-06-06 14:28] pernambucano commented on #202
Hi there. Thanks for the quick reply!

I am really interested in help you guys improve this after some inner code study obviously.

Regarding the question of this thread, if I understood it correctly, you are suggesting we use options like @swagger_from over each endpoint right ?

We are using specs as docstrings in each one, I just thought that additionally we should use the spec-to_flasgger (and

[2018-06-07 05:09] applio commented on #183
FWIW, not respecting endpoint when supplying spec as a dict just bit me.

If it is possible to support the endpoint/methods arguments when supplying the spec as a dict, I think it would be helpful.

[2018-06-18 15:45] tdancois-qucit commented on #108
Hi, any update on this issue?
I would love to be able to use Marshmallow Schemas inside a flask_restful Resource.

[2018-06-21 09:18] prasadborkar1109 commented on #185
I am also facing same issue, trying to work with multiple blueprints. It seems flasgger doesn't support this.
@rochacbruno Can you please comment on the same

[2018-06-21 10:13] blue995 commented on #185
Well it is supported. You have to provide a swagger documentation for you endpoints. This documentations can be placed directly on the endpoint or separated in a YAML file.  Like this:

**manager.py**: I've just used the `book_blueprint` for demonstration purposes.
[code]

**books.py**: Then i added 2 lines of code to your `books.py` script:
* `from flasgger import swag_from`
* `@swag_from('books.

[2018-06-21 10:32] blue995 commented on #185
One of my private python 3 projects relies on multiple blueprints. It would be a problem if flasgger does not support this feature, so i'm really happy about that. I don't tested it with Python 2 though.

[2018-06-21 14:03] rochacbruno commented on #185
Nice, we should document it! I would appreciate some help to start writing the /docs to publish on readthedocs.

[2018-06-21 16:46] roy-hiq opened #203 "url parameter in Swagger-ui ignored"
Hi,

I'm running the example_app.py example, and both links lead to v1 of the api. Trying to apply the parameter manually, for example:

http://localhost:5000/apidocs/index.html?url=/v2/spec

only leads to the page:

http://localhost:5000/apidocs/

and displays the v1 of the api. I tried this with my own application as well, and same issue. Something wrong with SwaggerUi, perhaps?

I tried to find

[2018-06-21 17:40] rochacbruno commented on #203
HI, I have to check it, you found it using UI version 3 or 2?

[2018-06-22 07:13] roy-hiq commented on #203
3, running default without a uiversion parameter, which is 3 in 0.9, right?

Forgot to test in different browsers, but I'm running Chrome 67.

[2018-06-22 10:11] prasadborkar1109 commented on #185
@rochacbruno @blue995
I have one more query and I am not sure whether this is answered earlier.

Is it possible to change the default spec_route (/apidocs) to like /someprojectname/swagger

example
http://localhost:5000/apidocs/
to
http://localhost:5000/projectname/swagger

thanks in advance

[2018-06-25 07:30] prasadborkar1109 commented on #185
I did it, by overriding the DEFAULT_CONFIG specs_route. Thanks

[2018-06-28 16:53] jorgeCollinet opened #204 "Use python 3.7 new dataclass to specify Schema"
With the new python 3.7 dataclass (https://www.python.org/dev/peps/pep-0557/)

It would be nice to automatically infer the response schema from it , instead of:

[code]

do

[code]

[2018-07-03 06:12] javabrett opened #206 "/package_example/apidocs/ fails with INTERNAL SERVER ERROR /package_example/apispec_1.json"
Navigating to http://flasgger.pythonanywhere.com/package_example/apidocs/ (as linked from index page) produces:

[code]

[2018-07-03 18:09] yardenfi commented on #174
Hey,
swag_from has an endpoint parameter. Try to specify a unique endpoint and give each endpoint it's file using swag from.

views.py:
[code]
job_get_doc.yaml:
[code]
job.py:
[code]
You can have different specs with different routes and methods this way.

[2018-07-04 05:26] yardenfi opened #209 "JWT Support"
https://github.com/rochacbruno/flasgger/blob/6bdacbafd9aa84f6d6f319a5a84b6fb90cc2b5a6/flasgger/ui3/templates/flasgger/swagger.html#L33
Flasgger is using the value "Bearer" hardcoded in this line. In order to support JWT, I have found I need to change this line to "JWT " manually. I think it should be configurable..

[2018-07-06 07:00] noviceamateur opened #211 "Disable swagger generation ?"
Is there any config to stop generating swagger documentation all together ?

[2018-07-06 07:14] javabrett commented on #211
Try https://github.com/rochacbruno/flasgger/blob/6bdacbafd9aa84f6d6f319a5a84b6fb90cc2b5a6/examples/disable_swagger_ui.py#L22

[2018-07-10 02:30] tvytlx opened #212 "unknown `<br/>` appeared in the last word of all the descriptions"
When we upgrade flasgger from `0.8.0` to the newest.

We found unknown `<br/>` appeared in the last word of all the descriptions.

the json spec generated from flassger: (partial)
[code]

the yaml file of this api:
[code]

[2018-07-10 14:51] rochacbruno commented on #212
By default flasgger uses `BR_SANITIZER` which is a function that takes text and replaces `/n` with `<br />` in descriptions. To disable it use:

[code]

[2018-07-10 14:53] rochacbruno commented on #211
@noviceamateur can you confirm if that solved your problem?

[2018-07-10 15:04] #212 closed

[2018-07-10 16:32] noviceamateur commented on #211
Yeah. It worked. But is there a way to disable the apidocs as well ? Not just the UI

[2018-07-10 16:48] rochacbruno commented on #211
@noviceamateur there is no such option, because the whole point of this extension is to provide the APIdocs.

What is your use case?

[code]

The above will register `Swagger` only if you have `ENABLE_FLASGGER` in your config, is that a workaround for you?

Let me know the use case then we can think about adding more options.

[2018-07-12 07:08] noviceamateur commented on #211
Ya. This will work. Thanks.

[2018-07-12 07:08] #211 closed

[2018-07-20 07:52] ryanermita opened #214 "Authorization Header does not exist in flask request object"
I'm expecting Authorization and a request id in request header but it is missing.
print(request.headers)
[code]

i have parameter header in my docstring
[code]

[2018-07-20 16:07] babunoel opened #215 "Change UI for swagger docs"
Hi, I'm new to this. How do I change the look of the swagger UI docs page. Right now the swagger UI doesn't look very good to me. It appears different from the example screenshots in the README. Am I doing something wrong? This is my Swagger UI:
![capture](https://user-images.githubusercontent.com/12879280/43013013-836efdfc-8c15-11e8-9a92-b7db86e61df9.PNG)

I would like my UI to look more like thi

[2018-07-20 18:42] rochacbruno commented on #215
You want the old uiversion 2, by default 3 is used. pass `uiversion=2` like in https://github.com/rochacbruno/flasgger/blob/master/examples/colors_uiversion2.py#L10

[2018-07-20 19:02] babunoel commented on #215
@rochacbruno Thank you!

[2018-07-20 19:06] babunoel commented on #215
Actually when i set `uiversion=2`. The page gets stuck in the loading screen.  I get `fetching resource list: http://localhost:8080/apispec_1.json; Please wait.` on the page

[2018-07-24 15:58] dmwesterhoff opened #216 "Exporting swagger spec JSON file programmatically"
Is there currently any way, without running the devel server to export the JSON file programmatically? We would like to decouple the documentation from the source, while still using the docstring style inline spec to actually generate the swagger docs. Any help here would be very much appreciated, not sure if this is possible/supported.

[2018-07-24 17:09] rochacbruno commented on #216
It would be an interesting feature to add.

For now you can use the flask test client to make a call to /spec.json and get a JSON with the results.

[2018-07-25 14:23] babunoel opened #217 "Validate query parameters"
Is there a way to test validation of query parameters. I have something like this:
[code]
The Id parameter is required here. How do I validate ID and throw a proper error if it isn't provided?

[2018-07-25 14:25] tcco opened #218 "Flask Restful Resource Rule Filter"
Am I able to specify which resources to include for specific versions using FR resources? Looking at this [example](https://github.com/rochacbruno/flasgger/blob/master/examples/example_app.py), it is similar to the filtering done on the Flask app routes with the endpoints parameter.

I tried adding the endpoint parameter to the flask restful method `add_resource` but that did not seem to work. See

[2018-07-26 05:51] ryanermita commented on #214
i found the issue now. the issue is the preflight request. :)

[2018-07-26 05:51] #214 closed

[2018-07-29 17:37] xeroc opened #219 "Import of apispec.ext.marshmallow.swagger fail due to breaking change in apispec"
According to [apispec/Changelog](https://github.com/marshmallow-code/apispec/blob/dev/CHANGELOG.rst#0390-2018-06-28)

The change results in [this example code](https://github.com/rochacbruno/flasgger#using-marshmallow-schemas) to throw the following error

Given that I don't know enough of the internal functionalities, I cannot provide a Pull Request.

[2018-07-30 05:12] strongbugman opened #220 "A way to parse request data and validate schema"
Hi, I find a way to parse request`s data and validate schema, not only data in body can be validated, take a look at  [gist](https://gist.github.com/strongbugman/2c8e1cd9673ebdc59403a4055e4060c6), do you have any idea?

[2018-07-30 15:39] rochacbruno commented on #219
This has been solved here https://github.com/rochacbruno/flasgger/pull/205 pending release.

[2018-07-30 16:04] xeroc commented on #219
Thank you ... closing ticket

[2018-07-30 16:04] #219 closed

[2018-07-30 17:00] rochacbruno commented on #220
I like the idea and implementation, I like the idea of having a standard directory structure to load the yamls, it would be nice also to load the specs and not only for validation.

If you want to send a PR integrating this to flasgger it is a nice idea.

[2018-07-31 06:26] strongbugman commented on #220
Thanks for your suggestion，I'll send a PR after I am  familiar with flasgger`s base codes

[2018-07-31 07:53] javabrett commented on #134
This is working for me for both http and https, for both ui2 and ui3.  Based on that I'm closing the issue - @pint12 and others please reopen if this remains an issue.  /cc @rochacbruno .

[2018-07-31 07:53] #134 closed

[2018-07-31 08:07] javabrett commented on #105
Tests are running nicely for me in a Docker image I build for _flasgger_, which runs `pip3 -r` on the two requirements files, then `make test`.  Will add a PR for the Docker image sometime.

[code]

Based on that I'm closing this issue - @daym please reopen if it's unclear how to run the tests.

[2018-07-31 08:07] #105 closed

[2018-07-31 18:51] #137 closed

[2018-07-31 22:40] javabrett commented on #206
This issue is caused by the _flasgger.pythonanywhere.com_ deployment not having the `marshmallow` package installed (at all), because it is only in [requirements-dev.txt](https://github.com/rochacbruno/flasgger/blob/a4340b799847886fcc637db15eba095062a452e5/requirements-dev.txt#L2) and not in [setup.py](https://github.com/rochacbruno/flasgger/blob/a4340b799847886fcc637db15eba095062a452e5/setup.py#L

[2018-08-01 06:56] MaciejKucia commented on #146
Which tags are missing?

[2018-08-01 06:59] MaciejKucia commented on #119
I think this issue can be closed :smiley:

[2018-08-01 07:15] #119 closed

[2018-08-01 07:31] MaciejKucia commented on #209
It seems that this is quite easy to implement in config just like `JWT_AUTH_URL_RULE` option.
But the question is if `Bearer` should be configurable. The following StackOverflow topic suggests that it should not.
https://stackoverflow.com/questions/33265812/best-http-authorization-header-type-for-jwt

[2018-08-05 23:55] javabrett commented on #181
My understanding is that _Flasgger_ is tolerant of non-YAML content in a pre-document directives block, but that it still expects a single document, and that is inline with this error.  The exception could probably be caught and some additional help could be provided.

So _Flasgger_ will tolerate:

[code]

The problem document here starts with `---`, which means "start of YAML document with no dir

[2018-08-06 05:30] FYJen opened #223 "Validation for parameters in the URL path and response."
Couldn't find anything useful from all the issues being posted. I know flasgger supports validation on the incoming POST, PUT data in body. Does it support validation on parameters in path? Additionally, does it support validation on the API responses?

[2018-08-06 11:52] javabrett commented on #156
I was unable to reproduce this even on Windows.  For Python 3.7 however I was able to get a character to be mis-read, probably as the UTF8 character was read in `cp1252` or similar.

I think there is an improvement to be made here and added a PR.  The current YAML file-read does not enforce the encoding, so is vulnerable to different Python versions and different platform decisions on default enco

[2018-08-06 19:16] Superbird11 opened #225 "Improve Error Message Specificity for Incorrect YAML"
When methods have documentation that is poorly-formatted in an otherwise-working Flask project, going to the `/apidocs` endpoint produces a very long series of error messages in unparsed HTML:

![flasgger-bad-1](https://user-images.githubusercontent.com/12699114/43736262-fa184530-998a-11e8-9629-9231bff6b6ec.png)

The accompanying error messages (a stack trace 30-deep) on the webserver hosting it a

[2018-08-07 13:43] eregnier commented on #181
We fixed the file on the project. I do not have this problem anymore. The problem may persist for some other people that have formatted their documentation like me, but this thread does not move a lot. Then I suppose there is not much problem remaining at the moment.

You may close the issue.

Thank you.

[2018-08-07 14:20] #181 closed

[2018-08-07 22:16] javabrett commented on #209
@yardenfi which client are you working with that expects/requires `Authorization: JWT ...`, or is this for something new?  OAuth `Bearer` is no good for what you are doing?

[2018-08-08 00:38] javabrett commented on #209
Other references:

https://swagger.io/docs/specification/authentication/bearer-authentication/

(when discussing _JWT_)

https://swagger.io/specification/#securitySchemeScheme -> https://tools.ietf.org/html/rfc7235#section-5.1 -> https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml

... `Basic`, `Bearer`, `OAuth` but no `JWT`.

I don't believe `Authorization: JWT ...` is part o

[2018-08-08 03:28] javabrett commented on #198
Note that when moving from Swagger 2.0 to OpenAPI 3.0, the 3.0 specification has tightened-up on this and no-longer permits a `GET` (or any other operation which does not have defined semantics as per [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3).  It will reject validation with:

https://swagger.io/docs/specification/describing-request-body/
https://swagger.io/specification/#operati

[2018-08-08 03:31] javabrett commented on #171
There's a few ways to set the port for a Flask app - see:
- http://flask.pocoo.org/docs/1.0/api/#flask.Flask.run
- http://flask.pocoo.org/docs/1.0/cli/#setting-command-options .

[2018-08-08 03:31] #171 closed

[2018-08-08 04:14] code-player commented on #198
Okay, but even [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.1) says

   sending a payload body on a GET request might cause some existing
   implementations to reject the request.

So if I'm at the point of designing APIs and need to send some sensitive information to server inside body even for GET request, I am allowed to do that and even basic requesting libraries like CURL, reque

[2018-08-08 05:06] javabrett commented on #198
I totally agree that `GET` with a body is permitted in HTTP, just as a `POST` with a query(-string) (`?foo=bar`) is also permitted.  My point above is that Swagger -> OpenAPI in their 3.0 spec has _expressly forbid APIs with GET bodies_.  This is a change/clarification from 1.2/2.0.  Do you read it the same?

Ergo if you write an API which reads from a `GET` body, it won't be OpenAPI 3.0 compliant

[2018-08-08 11:13] code-player commented on #198
Headers I'm using for Authentication. And I defer to use query-string because data could be logged by any logger which logs the application activity. Also have too much data in query-string also end up with url-too-long error.
And thanks for your replies and explaining your point.

[2018-08-10 17:33] #156 closed

[2018-08-15 19:31] ShaneKao opened #227 "flasgger_static 404"
Here is my config

[code]

I can access http://host/playground/topic-clf-api, but static file is missing

![image](https://user-images.githubusercontent.com/7226316/44168744-cc0ac880-a104-11e8-8334-f861c06cfeb4.png)

[2018-08-20 16:50] rochacbruno commented on #227
can you access `http://host/playground/topic-clf-api/flasgger_static/<filename>` directly?

[2018-08-24 04:50] llk2why commented on #209
I've encountered the same problem. When I change "Bearer" to "JWT" in my Postman request's header, it works. But but the try-out on the site doesn't go well. What should I do?

[2018-08-26 06:03] suifengpiao14 opened #230 "AttributeError: 'NoneType' object has no attribute 'Str'"
after apispec 0.38.0 version apispec/apispec/ext/marshmallow/swagger.py has moved，replace with openapi.py and common.py. so in file flasgger/marshmallow_apispec.py can not import schema2jsonschema, schema2parameters from apispec.ext.marshmallow.swagger ,
but i change  to import from apispec.ext.marshmallow.openapi also get error  ImportError: cannot import name schema2jsonschema

when i install ap

[2018-08-26 06:38] suifengpiao14 commented on #230
oh,I see master branch has changed ,waitting for new tag^_^

[2018-08-26 22:16] javabrett commented on #230
@suifengpiao14 looks like you found this already fixed on master, duplicates fix #205 .  Thanks for the report.

[2018-08-26 22:16] #230 closed

[2018-08-26 22:46] javabrett commented on #159
@vladimircape it looks like you may have found the problem, or an effective workaround at least.  If not, feel free to reopen this issue.

[2018-08-26 22:46] #159 closed

[2018-08-27 02:44] javabrett commented on #216
#222 allows the YAML to be detached into a `doc_dir`.

[2018-08-27 05:29] strongbugman commented on #217
Maybe this [PR](https://github.com/rochacbruno/flasgger/pull/222) is what you want

[2018-08-27 05:30] #220 closed

[2018-08-27 13:54] rochacbruno commented on #216
I am reponing this, we solved one part which is decoupling the yaml files, but now we need something to staticaly generate the specs. Something like.

[code]

We cna easily attach new commands to `flask.cli` on 1.1+ example: https://github.com/rochacbruno/talkshow/blob/master/talkshow/ext/cli.py

[2018-08-27 16:54] rochacbruno opened #231 "Integrate flask-swagger-ui"
This project https://github.com/sveint/flask-swagger-ui

delivers only the swagger UI as a BP.

So instead iof maintaining a copy of ui in flasgger we can evaluate of it is a good idea to integrate with this other project.

[2018-08-27 16:58] rochacbruno opened #232 "Naming conventions"
To follow naming conventions evaluate the idea of releasing this project also as `flask-flasgger` (as an alias) and having an import alias `from flask_flasgger import Flasgger`

[2018-08-27 21:56] javabrett commented on #231
@rochacbruno thanks for raising this issue.  It aligns with something I have a PoC for already.  Although I think this could potentially split into two issues:

1. **Build-time, repackaged/vendored, included swagger-ui** : This is possibly the original goal of this issue.  By sourcing *swagger-ui* from elsewhere, by-version, it saves on maintenance tasks and Git space every time the UI needs to be

[2018-08-28 18:23] fbiopereira opened #233 "Is there any way to disable "try out" feature in flasgger?"
I have a REST API made with Flask and documented with flasgger and would like to disable "try out" feature in POST and PUT methods.

[2018-08-28 19:49] rochacbruno commented on #233
Looks like it is not even possible in Swagger UI, you may need to write a JS plugin and then load in the templates/flasgger/index.html

https://github.com/swagger-api/swagger-ui/issues/3725

[2018-08-28 21:33] javabrett commented on #233
If you are using ui3, could you just add a custom style to hide it?

[code]
... and repeat for `PUT`.

Of course this is only hiding/masking in the UI, but it's all UI anyway so you may need to secure those operations properly if you really don't want them called.

[2018-08-29 19:33] yardenfi commented on #209
it's just not working when supplied with Bearer instead of jwt with flask_jwt..

[2018-08-30 13:44] kabumbc opened #234 "Flassger don't work when I have a URL"
For exemple, I have a url: https://www.example.com/test/, the swagger should have basePath /test, but don't `work

`from flask import Flask
from flask_cors import CORS
from flasgger import Swagger
from flask_restful import Api

app = Flask(__name__)
CORS(app)
api = Api(app)

swagger_config = {
    "headers": [
    ],
    "specs": [
        {
            "endpoint": 'documentacao_api',

[2018-09-03 18:01] jamesrwhite commented on #223
I'm also struggling to work this out, all the examples/docs I can find seem to be using `request.json` but similar to above I also want to validate parameters in the URL.

[2018-09-04 23:36] javabrett commented on #233
@fbiopereira let me know if some custom CSS as suggested above works for you.

[2018-09-04 23:36] #233 closed

[2018-09-05 13:10] fbiopereira commented on #233
Yes we tried and it worked.
But we decided to keep try out enabled for an while.
________________________________
De: Brett Randall <notifications@github.com>
Enviado: terça-feira, 4 de setembro de 2018 20:36
Para: rochacbruno/flasgger
Cc: fbiopereira; Mention
Assunto: Re: [rochacbruno/flasgger] Is there any way to disable "try out" feature in flasgger? (#233)

@fbiopereira<https://nam04.safelinks

[2018-09-06 15:40] dbazhal opened #235 "Now incompatible with apispec"
When you do
[code]
it is None because
[code]
Starting from apispec==0.39.0

[2018-09-07 00:58] motsu35 opened #236 "Runtime error when using definitions with marshmallow"
Im not sure the best way to describe the issue, so ill give a bit of working code, and then what you need to do to reproduce the error:
[code]

this should work fine if you go to the /apidocs/ url. you should see both foo and bar under models.

now, go back and change the class definition of bar to be 'class bar2(Schema)' and update the definitions object

[code]

you will now get an error about t

[2018-09-07 01:06] motsu35 commented on #236
doing a bit more digging, it seems like the root cause is when the string in the dictionary does not match up with the name of the class

[2018-09-07 07:28] javabrett commented on #235
Looks like duplicate of #205 which is fixed on master, pending release.

[2018-09-07 16:58] rochacbruno commented on #235
@javabrett do you think is it time to do a release? do you want me to add you as a pypi mantainer? what is your username there?

[2018-09-08 06:05] javabrett commented on #235
I'm not aware of any release-blockers, and it would be good to get this release fixed, since we didn't previously pin `apispec`, so most users will hit this issue sooner-or-later.

Release notes need updating, I understand they are currently kept in https://github.com/rochacbruno/flasgger/blob/master/HISTORY .

Thanks.  I must confess I had to create an account.  I am the paradoxical https://pypi.

[2018-09-10 02:00] javabrett commented on #235
Closing this as duplicate, opened #237 for the release process.

[2018-09-10 02:00] #235 closed

[2018-09-10 02:08] javabrett commented on #227
@ShaneKao any luck with this test:

Otherwise, can you try adding an explicit `'uiversion': 3` to your config?  It should default to that in version 0.9.0 but who knows.

[2018-09-10 03:55] javabrett opened #238 "Git tags add/fix/move releases 0.8.2 and 0.8.3"
Looks like there's a couple of tagging issues - historical, but probably worth fixing for reference.

- tag 0.8.3 points to 51bf02c74651b1a33b5789d8825ae691c8e23789 , but that is actually 0.8.2.  0.8.3 should reference the following-commit 3ed982163a4270075a5b41553db104008e8e834d .
- tag 0.8.2 is missing and should point to 51bf02c74651b1a33b5789d8825ae691c8e23789 where 0.8.3 currently points.  I

[2018-09-10 04:08] javabrett commented on #195
@andyd0 do you have a complete/deployable/shareable project that demonstrates the problem?

[2018-09-10 15:38] rochacbruno commented on #238
+1 to use annotated tags

[2018-09-10 18:26] andyd0 commented on #195
This was for a DevOps project - I can give you the git repo link which will have instructions on how to launch the Vagrant VM but not sure its worth the effort on your end.

[2018-09-11 06:05] javabrett commented on #238
Tags have been added/moved as discussed above.  Annotated and signed tags created.

[2018-09-11 06:05] #238 closed

[2018-09-12 00:31] jab opened #239 "instructions for apispec example are underspecified, causing TypeError"
New to flasgger and was interested in the apispec example, but unfortunately the instructions seem out of date?

Quoting https://github.com/rochacbruno/flasgger#readme

Is some non-latest version of one of these required? Following the instructions as written results in apispec-0.39.0 and marshmallow-2.15.4, which results in TypeError when running the apispec example:

[code]

[2018-09-13 04:40] javabrett commented on #239
There was a known issue in flasgger 0.9.0 caused by a change in apispec API, so hopefully this is a duplicate of #205 .  flasgger 0.9.1 is just released - can you try again with the new release?

[2018-09-13 04:40] #239 closed

[2018-09-13 04:47] javabrett opened #240 "Deploy 0.9.1 to http://flasgger.pythonanywhere.com"
As an aside to this - I have been mucking with some pythonanywhere scripting.  There are quite a few limitations to be aware of, but provided you are willing to do some initial manual set-up, it is possible to fashion a semi CI/CD from Travis to pythonanywhere.  So it would be possible to host a flasgger-master.pythonanywhere.com if that were desirable.  This would make master always-testable/demo

[2018-09-13 06:13] javabrett commented on #198
I noticed today that test/demo app http://javabrett.pythonanywhere.com/changelog_090/apidocs/ suffers from this issue, since its `GET` endpoint is declared to accept `formData`.

Per above, my inclination is to not support this.  I suppose it boils down to whether flasgger should allow workarounds at the edges of the Swagger and OpenAPI specifications, or whether it should not attempt to support s

[2018-09-13 06:31] code-player commented on #198
Same was the case with me, I have also designed my APIs GET endpoints to accept formData and it was working fine with simple CURL requests or any http(s)-request module in other programming language.

[2018-09-13 13:58] rochacbruno commented on #198
@javabrett My opinion is that we should support strictly what OpenAPI and Swagger supports, if a workaround is needed then the user is able to do it by monkey patching, inheriting or forking.

[2018-09-13 20:44] javabrett commented on #240
https://flasgger.pythonanywhere.com/ is currently showing 0.9.0 or something of that era and <0.9.1, so if it is fetching nightly with cron, maybe it currently has the 0.9.0 tag checked-out, or there's some conflict or other issue causing it to not update.

Is it intended to be master/dev/CI/CD, or is it supposed to be locked at the latest GA release?

The proposals are:

- Push 0.9.1 at a minimum

[2018-09-13 21:48] rochacbruno commented on #240
Hi @javabrett I like your proposal I'll send you the credentials for PythonAnywhere via e-mail.

[2018-09-14 01:02] javabrett commented on #240
`0.9.2.dev0` (`master`) demo app deployed manually.  Some sort of automation may follow later.

[2018-09-14 01:02] #240 closed

[2018-09-14 11:04] code-player commented on #198
Yeah, sure.

[2018-09-15 06:30] dvzrv opened #242 "Conflicting files due to installation of examples"
There is a file conflict between flasgger and micawber, because both install files into the too generic path name examples.
For reference, please see [this Arch Linux bug](https://bugs.archlinux.org/task/60006) and this [bug with micawber](https://github.com/coleifer/micawber/issues/83).

As a solution, micawber and flasgger should either not install these examples at all, or if required into a un

[2018-09-15 21:29] rochacbruno commented on #242
I think it is a bug `examples` should not be installed.

Thanks for reporting.

[2018-09-15 21:32] rochacbruno commented on #242
the solution is a change in setup.py adding

[code]

[2018-09-18 00:56] #242 closed

[2018-09-19 01:12] javabrett commented on #179
I was looking around for validators and wondered whether either https://github.com/Yelp/bravado-core or https://github.com/Yelp/swagger_spec_validator would be any help.

Do we know whether validation of this kind would have changed between Swagger 2.0 and OpenAPI 3.0?  Since a number of libraries have not claimed 3.0 support yet.  If I understand correctly, the main difference to jsonschema is th

[2018-09-24 12:55] notjoshing commented on #223
Parameters in the path or the body may be validated.  For instance, if you have a put path which includes a file name as part of the path, and content in the upload, you could create a class with something like this:

`put_swag  = {
    'parameters'    : [
        {
            'name': 'upfile',
            'description': 'File to upload.',
            'in': 'formData',
            'type': 'file',

[2018-09-25 11:56] andersonkxiass opened #247 "POST enviando como OPTIONS"
Estou tentando enviar uma requisição de post, mas pelo swagger recebo um OPTIONS ao inves de POST

My specification:

[code]

Modelo apresentado como sendo o dado enviado:

[code]

Mas como de fato chega na api

[code]

Se eu pego o curl gerado e mando pelo terminal, funciona como post de fato, qual poderia ser o problema?

[2018-09-25 12:05] rochacbruno commented on #247
Seens related to this swagger UI issue https://github.com/swagger-api/swagger-ui/issues/1209

[2018-09-25 12:12] rochacbruno commented on #247
this is the way they solved it in PHP

Adding `Access-Control-*` headers

[code]

We cannot add this to Flasgger by default, so the best for you is to try.

[code]

[2018-09-25 12:39] andersonkxiass commented on #247
Obg pelas informações, seu projeto é muito bom e me ajudou rapidamente subir o swagger para o projeto....

Com uma pequena alteração no seu exemplo, resolveu pra mim...

[code]

Ficou assim

[code]

[2018-09-25 12:47] #247 closed

[2018-09-26 08:56] xiaomaflying commented on #174
I also have this problem.
![image](https://user-images.githubusercontent.com/4717367/46069010-19bb2c00-c1ad-11e8-9241-621ee1769f7c.png)

[2018-09-26 17:14] andersonkxiass opened #248 "Global Model definitions"
Olhei as issues relacionadas e PRs, mas não consegui entender se tem ou não implementado e como fazer para ter um o model definition em um local único, que fique visível para o swagger e possamos usar:

[code]

[2018-10-03 21:52] cavalcantigor commented on #96
Same for me =( but in my case instead of use array, i'm doing

[code]
That's my last version. I'd tried a lot of things without success =/

[2018-10-04 02:41] rochacbruno commented on #96
@cavalcantigor
is this example helpful? https://github.com/rochacbruno/flasgger/blob/master/examples/example_app.py#L104

[2018-10-04 11:46] ab-gissupport opened #249 "Flasgger 0.9.1 does not reflect changes without restarting app"
I'm using latest flasgger==0.9.1 and create documentation in Yaml files using `swag_from` decorator. Whenever I change something in Yaml file (major or very minor change, whatever) I need to restart Python app in order to get changes reflected on Flasgger UI. I think it's quite inconvenient - I see it worked well in flasgger==0.8.3 without reloading.

Here is my init:

[code]

[2018-10-04 15:49] rochacbruno commented on #249
HI, if you install `pip install flasgger==0.8.3` does it work as expected?
I think we may have added some caching stuff and then we need to have optional flag to disable it.

Are you seeing this using which Flask version? Flask server or external server (like a wsgi)?

[2018-10-04 15:55] ab-gissupport commented on #249
Yes, with 0.8.3 it works. I'm using `flask==1.0.2`, with Flask development server.

[2018-10-05 16:51] ab-gissupport commented on #249
Hi, it's strictly for development purposes - I'm creating documentation and I refresh the page to see if changes I did in Yaml file are OK.

[2018-10-05 20:01] rochacbruno commented on #249
@strongbugman we can try to use the `DEBUG` flask, if flask in in debug mode then cache is disabled. What do you think?

[2018-10-06 08:34] strongbugman commented on #249
@rochacbruno Sounds great, I'll  send a PR soon

[2018-10-08 02:53] javabrett commented on #249
PR #250 .

[2018-10-08 19:32] flowersw commented on #146
This is a good place to start: https://blog.runscope.com/posts/tutorial-upgrading-swagger-2-api-definition-to-openapi-3

[2018-10-09 13:27] frankcorneliusmartin opened #251 "swag_from does not accept pathlib.Path objects as path specification"
I think it would be nice if the swag_from decorator would accept `pathlib.Path` objects as this makes the paths os independent. Thus instead of:
[code]
I rather use:
[code]
I now have to wrap `Path("swagger/version.yaml")` into `str()`

[2018-10-09 14:41] rochacbruno commented on #249
@ab-gissupport can you test the changes in master #250 and then close this issue if it works for you?

[2018-10-09 14:47] ab-gissupport commented on #249
Yes, it does work for me now. Thanks for quick help everyone!

[2018-10-09 14:47] #249 closed

[2018-10-11 10:31] jkgeyti opened #252 "@swag_from("relative_path.yml") throws ImportError: No module named 'home' when using venv environments"
EDIT: SCRATCH THAT. This was an unfortunate side effect of mixing up `-` and `_` in file names. Flasgger couldn't find the file, and then tried to import it as a module, which worked with importlib due to _ and - import rules. There's still a problem in using imp, but I just hit an unfortunate corner case, so I'm closing this :)

Visiting http://127.0.0.1:5050/apidocs/ throws the following excepti

[2018-10-11 21:03] javabrett commented on #252
Should this issue be closed?

[2018-10-11 23:01] rochacbruno commented on #252
@javabrett do you think `"test-relative_path.yml"` should be a a supported path? I have not tested yet

[2018-10-11 23:47] javabrett commented on #252
I have not yet tested either, but read the edit:

... and wondered whether this was now solved/defunct and a new issue required for any issues specific to `imp`.  @jkgeyti .

[2018-10-12 06:33] jkgeyti commented on #252
I believe it all works as intended. I just ran into a corner case where I could get a misspelled path to work with importlib due to pythons handling of dashes and underscores.

This issue and pr is way too confusing now, so while imp should still be replaced, don’t do it on the back of this ticket.

Closing

[2018-10-12 06:33] #252 closed

[2018-10-14 03:26] zhugw opened #254 "How to let maximum constraint work in swagger ui and also could validate it in server?"
**Requirements**
I want to let user cannot input a number parameter not greater than a specific value in swagger ui
and also server-end could validate the input parameter
**Problem**
I tried below manners all not work so how to implement it?

why maximum constraint not work in swagger-ui?

[code]
the `maximum` constraint not work in swagger ui still could set value more than 50000 and try it out
!

[2018-10-14 04:17] strongbugman commented on #254
What's your flasgger version? Swagger UI works for me with lastest flasgger.
For the sever end validation, `@swag_from('data_download.yml', validation=True) ` seems like only works for `request.json` from source code, maybe you can use flasgger's request [parse](https://github.com/rochacbruno/flasgger/blob/master/examples/parsed_view_func.py) function, which provides a simple validation but works

[2018-10-14 08:34] zhugw commented on #254
@strongbugman

[2018-10-14 08:46] #254 closed

[2018-10-30 09:31] xrmx opened #255 "apidocs "try it out" does not send body"
With flassger 0.9.1 sending requests from the api docs does not work. It looks like the body is not sent and the http server returns a 400 bad request. If I cut and paste the body from the ui to another client the request works fine. Another interesting bit is that the curl example does not have the body too.

Tried both firefox and chrome, I have only this in the console:
[code]

[2018-11-02 08:50] nikoladsp opened #256 "Use schema instance instead of class definitions when documenting API"
Hi,
one question regarding using schema instances (objects) instead of class definitions when documenting API. Lets say we have a simple situation:
[code]

Output looks like:
[code]

So we have one schema (User) and 4 instances of it; say for CRUD methods. So when we want to do read user(s), all fields are expected to be displayed (exclude list is empty). Similar is for delete. However, when for e

[2018-11-07 06:40] achavhantexada opened #257 "Unable to load inline defintions."
`Returns assets with pagination.
---
tags:
  - asset
parameters:
  - name: authorization
    in: header
    description: Please add the authentication token to here.
    required: true
    type: string
  - name: search
    in: query
    description: This value will be searched in the product number, product description, and barcode fields.
    type: string
  - name: barcode
    in: query
    descr

[2018-11-08 10:35] aalises commented on #256
I am also interested in knowing if anyOf and oneOf are supported, as they don't render when trying to put multiple types e.g

[code]

[2018-11-08 11:49] aalises opened #258 "Paths not ordered when generating json from template"
When generating the specifications JSON from a YAML/JSON template, the paths are not ordered as they appear on the template (i.e top down), but they are rather parsed in a random order.

Is there a option I have missed?

[2018-11-09 16:05] sinanm89 commented on #75
it took me quite a while to find this gem of a feature.

[2018-11-13 18:46] wobeng opened #259 "when will Flasgger 0.9.2 be released?"
Hi there :)

Starting with Flasgger 0.9.2 you can specify external URL locations for loading the JavaScript and CSS for the Swagger and jQuery libraries loaded in the Flasgger default templates.

when will  Flasgger 0.9.2 be released?

[2018-11-13 18:50] wobeng opened #260 "uiversion 3 get method array says: Could not render this component, see the console."
Hi

When I specify an array using uiversion 3 on a get method. I get "Could not render this component, see the console.". Am I doing something wrong?

Below is a screenshot of what I see

![v3](https://user-images.githubusercontent.com/11966846/48435646-06f3bb00-e74b-11e8-8bf1-4332b46a36fe.PNG)

[2018-11-14 11:00] xrmx commented on #255
The fix for this is to add a name in the parameters block:

[code]

From swagger 2.0 documentation it looks its mandatory:
https://swagger.io/docs/specification/2-0/describing-request-body/

So don't think it's a flassger bug but it's a bit unfortunate that the ui does not raise an error if it is missing.

[2018-11-14 14:29] rochacbruno commented on #255
We need to add a note for it, or show a warning on the console

[2018-11-14 14:30] wobeng commented on #260
I'm using
[code]

[2018-11-14 20:54] javabrett commented on #259
@rochacbruno sure I could probably put a release together.

[2018-11-15 02:38] #259 closed

[2018-11-15 09:40] javabrett commented on #198
I'm closing this based on the above discussion and reasoning.

[2018-11-15 09:40] #198 closed

[2018-11-15 09:57] javabrett commented on #206
This was fixed during recent release re-deployments.  Virtual env on pythonanywhere was rebuilt including optional/dev dependencies.

_setup.py_ work mentioned above should probably be done eventually, but this issue itself is fixed so closing.

[2018-11-15 09:57] #206 closed

[2018-11-18 11:14] wobeng commented on #260
@rochacbruno any update on this?

[2018-11-19 04:10] javabrett commented on #260
I don't suppose you could share a runnable version of your code above which demonstrates the issue - runnable from the command-line, Docker or a patch to `/examples` would be great, along with any stacktraces or browser console errors.

[2018-11-20 06:27] xp880906 opened #264 "write multiple endpoints in one single yaml file ?"
I just want to write some relevant endpoints in one yaml file, otherwise I had to write hundreds yaml file.
This proposal does it make any sense?

[2018-11-21 03:09] javabrett commented on #231
@rochacbruno Looking at this again now that 0.9.2 has shipped and allows config e.g. `swagger_ui_bundle_js` to load the Swagger UI externally.  Are you aware of any build-tooling that would allow us to reference either those packages, or an equivalent remote source, and download those, for a fixed/bound version, during build/dev-install?

That would allow the existing static files to be removed, a

[2018-11-21 14:55] rochacbruno commented on #231
@javabrett

If we add `flask-swagger-ui` as a dependency it is going to download its static files, but we will locked-in with this lib.

With newest setuptolls we can setup different build mechanisms (like flit or poetry), but that works for packaging time and not on installation time.

The only thing that comes to my mind to solve that in an agnostic way is to develop a CLI for flasgger like:

[c

[2018-11-21 15:45] huanghe314 opened #266 "uiversion 3 with blank url after initializing default data"
I overwrite the default data with following code:
[code]
Because I use factory pattern, I set the template with `app.swag.template` after looking up the source code.
The appearance on uiversion 3 looks strange just like screenshot below.
The problem is that `the developer - Website` link to blank not the `www.privacy.com`
<img width="623" alt="screen shot 2018-11-21 at 11 29 45 pm" src="https://us

[2018-11-21 16:19] frankcorneliusmartin opened #267 "OAS 3+ has no property 'definitions'"
OAS 3.x is not valid as the property `definitions` (even though it is added as empty list) is automatically added by flasgger. In case OAS 3.x this has been replaced by components (see [here](https://swagger.io/blog/news/whats-new-in-openapi-3-0/)). I am not sure how to properly fix this as it has been used throughout the package.

A dirty hack that works for me is simply removing the `definitions

[2018-11-23 18:02] ceb10n commented on #264
Just write all in one yaml file, and use @swag_from('your_yaml.yml') in your endpoints

[2018-11-24 07:04] rootVIII opened #268 "Parameters not showing in Swagger/Flasgger UI"
Hello. Thank you for writing this python module. I've just about got it working and ready for a production server, but I am encountering one issue. I apologize in advance if it's a mistake in my code.

I'm calling it a bug for because my 3 simple REST API methods all work well and return proper responses in DEV and PROD environments, my OAS2 yaml file validates in the Swaggerhub editor, and finall

[2018-11-26 00:47] javabrett commented on #231
My concern with `flask-swagger-ui` is the current release-cadence - it doesn't appear to be automatically released with `swagger-ui` and only has a handful of releases: https://pypi.org/project/flask-swagger-ui/#history .  So if we are unpacking that for _flasgger_ distribution, we would probably need to request a release if we wanted current/recent `swagger-ui` at any given time.

The comparison

[2018-11-27 09:30] Parvez-Khan-1 commented on #236
I am facing the same issue, did you got solution?

[2018-11-27 09:49] Parvez-Khan-1 opened #269 "RuntimeError: dictionary changed size during iteration"
from flask import Flask, jsonify, request
from flasgger import Swagger, SwaggerView
from marshmallow import Schema, fields

StudentData = {
    1: {"name": "A", 'roll': 1, 'status': 'Pass'},
    2: {"name": "B", 'roll': 2, 'status': 'Pass'},
    3: {"name": "C", 'roll': 3, 'status': 'Pass'},
    4: {"name": "D", 'roll': 4, 'status': 'Pass'},
    5: {"name": "E", 'roll': 5, 'status': 'Pass'}
}

cla

[2018-11-28 21:02] javabrett commented on #269
Duplicates #236.

[2018-11-28 21:02] #269 closed

[2018-12-05 13:20] noelTron commented on #209
Just adding that this would be a nice feature, currently working with our code base that uses JWT prefix had to add a middleware rule to convert SwaggerUI token from `Bearer` to `JWT` would be nice to not have to. :)

[2018-12-05 20:46] javabrett commented on #209
@noelTron can you reference documentation or discussion or better still a standard or RFC describing the use of _JWT prefix_?

[2018-12-05 21:45] noelTron commented on #209
@javabrett there are a few JWT libraries that default to the JWT prefix:

flask_jwt:
https://pythonhosted.org/Flask-JWT/

REST framework JWT Auth:
http://getblimp.github.io/django-rest-framework-jwt/

I just thought it would be great to set the prefix in flasgger so it works with the default settings in those libraries. We love flasgger but can't change the prefix on our servers as we will break c

[2018-12-05 22:30] javabrett commented on #209
Just noting that:
- https://github.com/mattupstate/flask-jwt is largely abandoned.
- In the other project there is [this issue](https://github.com/GetBlimp/django-rest-framework-jwt/issues/31) essentially asking for the reverse, so they can use the (standard) `Bearer` scheme, and a fair bit of surrounding discussion around making things outh2 compatible there.

[2018-12-05 22:39] noelTron commented on #209
@javabrett That's fair I did see that too and this is mainly for supporting legacy code, if I made a PR to configure the prefix if I find time would you be willing to accept it?

[2018-12-05 23:19] javabrett commented on #209
I don't see anything especially offensive about making the token `"Bearer "` configurable, defaulting to the current literal.  @rochacbruno ?

I'd be more likely to support PRs that don't mention the token `JWT` anywhere - if this isn't an IANA registered auth type, I'd be reluctant to encourage its use on the back of a couple of older libraries using it.

[2018-12-06 19:11] slavaatsig opened #270 "Support validating response body"
Can we use Flasgger to validate the response body?
It would be nice to have the ability to raise HTTP 500 in case your latest changes made a response failing defined schema.

[2018-12-07 02:46] josepablog opened #271 "Validate breaks when a property is referenced"
Hello,
I am using a nested reference, which is documented successfully by Flasgger.  However, Flasgger breaks when I try to use validation for it.

For example, this code doesn't allow the ```requestBody``` endpoint to be called:

[code]

[2018-12-07 02:50] josepablog commented on #270
You can use Flasgger's validate method on your response before returning it :)

[2018-12-07 02:52] josepablog commented on #271
Forgot to write down the error I get.  The code above gives error 400, when calling the endpoint with default arguments:

[code]

[2018-12-10 20:56] josepablog commented on #271
I wonder if this relates to #96

[2018-12-18 09:20] jkcdarunday opened #272 "`callbacks` field for requests not passed for OpenAPI 3.0 docs"
## Introduction
Callbacks have been added to OpenAPI v3.0 and is now supported in Swagger UI 3 but using it in Flasgger does not work.

## Actual results:
The following code was used as documentation for an endpoint:
[code]

However, when converted to the api_spec.json file, I receive the following:
[code]

## Expected results:
What is expected is that the `callback` field should be passed like th

[2018-12-18 09:26] jkcdarunday commented on #272
This is documented in the ff. URL:
https://swagger.io/docs/specification/callbacks/

[2018-12-28 12:52] kadinwu commented on #234
meet the same issue, it caused by resource url path is incorrect
e.g '/flasgger_static/lib/jquery-1.8.0.min.js' should be 'flasgger_static/lib/jquery-1.8.0.min.js'.
Otherwise if swagger index url is "https://www.example.com/test/swagger/apidocs", then the resource will be "https://www.example.com/flasgger_static/lib/jquery-1.8.0.min.js", this is browser behavior.
any plan to fix it?

[2019-01-04 12:54] harpalsahota opened #274 "Array type not allowed in JSON body POST"
I have the following schema for a post request with a JSON body:

[code]
As you can see `xa` is of type `array`. Going to `/apidocs` everything works fine but when attempting to to run the example or post the endpoint with a JSON I receive the following error:
[code]
in `base.py, line 584, in before_request`.

Looks like it is referencing `SCHEMA_TYPES` in `base.py` which is defined as follows:
[c

[2019-01-07 03:49] strongbugman commented on #274
This looks my mistake, the parse function does not support array for now. I'll fix it soon

[2019-01-08 17:09] ikkaro opened #276 "External file implementation $ref"
Is this a already implemented?

[code]
Do you plan to implement in a near future?
I've also tried to use import but it seem is not working.

[2019-01-16 03:34] kutoxinyi opened #277 "How to configure sorting?"
What I want is order by tags......but default is order by path on page

[2019-01-16 04:45] javabrett commented on #277
Are you trying to order operations - you can add an `operationsSorter` for that.

https://github.com/rochacbruno/flasgger/blob/37ee86401e7c6c30dd45ef258d2f51647c48ef8c/examples/changelog_090.py#L59

[2019-01-16 10:11] kutoxinyi commented on #277
Thanks!  operationsSorter works for apis in one tag.  tagsSorter works for sorting tags.

[2019-01-16 10:11] #277 closed

[2019-01-21 13:21] allrod5 commented on #271
It looks like your Pet definition is missing the `id` field [required by Flasgger](https://github.com/rochacbruno/flasgger#extracting-definitions).

[2019-01-21 13:23] allrod5 commented on #271
It looks like your Pet definition is missing the id field required by Flasgger.

If this is not the issue, you can ask to re-open this issue.

[2019-01-21 13:23] #271 closed

[2019-01-23 17:21] moshere opened #278 "apidocs endpoint"
Hi,
I would like to change the apidocs url endpoint to some other endpoint such as api-docs.
Is there any way to do this through some configuration?

Thank you
Moshe

[2019-01-24 06:00] strongbugman commented on #278
You can config the Flasgger though Flask's config, eg:
[code]

[2019-02-01 17:19] Bengreen commented on #264
Is there an example of this

[2019-02-04 10:26] AseedUsmani opened #281 "Add YAML in request body"
I have an API that accepts YAML or JSON in body (according to what I sent in the other parameter)...
But even when I use `consume` tag, flasgger is only sending `"Content-Type: application/json"`

Here's the YAML doc string:
[code]

[2019-02-05 02:38] scolby33 opened #282 "PyYAML security vulnerability"
https://nvd.nist.gov/vuln/detail/CVE-2017-18342

Unfortunately PyYAML has not yet made a release with the fix applied and it does not appear that one is forthcoming.

The mitigation is to replace all uses of `load()` with `safe_load()` and `dump()` with `safe_dump()` (and also their respective `*_all()` -> `safe_*_all()`).

[2019-02-05 02:58] icfly2 commented on #174
Any progress on this or ideas? Also have this problem and use flasgger a lot after dicovering it so a) thanks a lot for the great work, b) would love to help, especially on the docs side (As i'm not that familiar with flasgger yet).

[2019-02-05 19:43] lovasoa commented on #204
I published a library that allows the usage of flasgger with dataclasses.

## [marshmallow-dataclass](https://pypi.org/project/marshmallow-dataclass/)

You can use it almost as in your example:

[code]

[2019-02-08 12:28] nmpacheco commented on #142
Hi,
same problem here.

toy example:

[code]
In this example, I would expect an error message stating "An integer for the password of the user" as specified in the description. Isn't this the expected behaviour?
[code]
Code inside put() isn't being executed at all, so I guess is something with swag_from.

Thanks!

[2019-02-10 15:14] wobeng opened #285 "__init__() missing 2 required positional arguments: 'schema_name_resolver' and 'spec'"
Hello, I'm getting the error below. Am I missing anything?

[code]

[2019-02-11 05:58] wangsha commented on #285
latest version of apispec has breaking changes. pin it to version 1.0.0b5

[2019-02-11 21:58] quaterneon commented on #285
If you depend on the apispec marshmallow extension, the above suggestion of pinning to 1.0.0b5 won't work.

[2019-02-12 02:19] wangsha commented on #285
@quaterneon what's the error you get?

[2019-02-16 20:40] pgalilea commented on #285
Same error here, with just
from flasgger import Swagger

[2019-02-17 00:14] dhughesni commented on #285
_I have identified the same error, although I was unable to trace the exact change in either module: apispec or marshmallow._

## Investigation

The error reports in flasgger:
[code]
The file was last changed **8 months ago** with *54d9e77  on 29 Jun 2018*: https://github.com/rochacbruno/flasgger/blob/master/flasgger/marshmallow_apispec.py

The file imports the following:
```from apispec.ext.marsh

[2019-03-08 06:01] Leosocy opened #287 "Why number type convert to int? Shouldn't it be float?"
Schema map in source code
[code]

[2019-03-09 03:51] Leosocy commented on #287
@strongbugman  Good job, so when will it be merged and released.

[2019-03-12 04:30] bhattbhavesh91 opened #288 "Try it Out! functionality isn't working."
I have deployed a flask application using kubernetes. I'm able to access the swagger html page but the try it out functionality isn't working as its pointing to the wrong URL. I have also implemented what's mentioned in the repository. Do have a look

This is the code of my flask application file -
`swagger_config = {
    "headers": [
    ],
    "specs": [
        {
            "endpoint": 'apispe

[2019-03-20 15:35] #287 closed

[2019-03-22 06:13] YJinHai commented on #285
Thanks. According to your update, this error appears:
[code]

[2019-04-03 03:40] Crazycosin opened #290 "required field is not provided"
my yml file:
`   ---
    tags:
      - Admin Exception API
    parameters:
      - name: exception_id
        in: path
        type: int
        required: false
        description: id
        default: 4970
      - name: exception_type
        in: path
        type: string
        required: true
        description: type
        default: algorithm-run-failed`
my code:
`@admin_bp.route('/exception/

[2019-04-03 12:16] Deeuus commented on #267
Any news on this?

[2019-04-10 12:27] georgiana-gligor commented on #285
I am also unable to do a simple `swag = Swagger(app)`.
Windows + Python dev environment.
[code]
Here's my trace:

[code]

[2019-04-10 21:19] tjhgit opened #292 "POST try it out does not work with multiform file data"
When trying to POST to the endpoint, that has the following parameter, the browse button does not work (no select file window pop-up appears).

[code]
While it does work for GET.

[2019-04-10 22:01] tjhgit opened #293 "validation=True failing with HTTP 500 and "no data to validate""
validation=True parameter does not seem to work properly.

[2019-04-11 19:59] alexlatchford opened #294 "[Bug] KeyError on schema properties with parse flag set and using `id`."
I was trying to validate querystring parameters but am getting this problem:

[code]

Running this with:

[code]

Will result in:

[code]

If you remove the line `'id': 'JSON_Request',` it works.

---

Digging deeper looks like there are potentially a couple of bugs.

1. It looks like definitions are not collected appropriately inside [`get_apispecs`](https://github.com/rochacbruno/flasgger/blob/m

[2019-04-15 11:13] fanyebo opened #295 "how to configre security on the top level"
I want use security on the top level, but how to configure.

[2019-04-15 16:58] kaboo-dev opened #296 "Using marshmallow and automatically generate definitions"
**TL;DR**:

Is it possible to generate a spec definition automatically from a marshmallow schema and add it to my spec defined when I do `swag = Flasgger(app)` ?

--------

Currently, i'm writting a Flask app, using :

- Flask-SQLAlchemy
- Flask-Marshmallow
- Marshmallow-SQLAlchemy
- Flasgger

I have built the application the following way :

inside a `server.py` file:
[code]
and the routes (defin

[2019-04-16 08:47] BaturinM opened #297 "Custom validation Error handling does not work when configuring validation via SwaggerView"
When I configure Swagger instance with my own custom error handler:
`swagger = Swagger(app, config=config.SWAGGER_CONFIG, template=config.SWAGGER_TEMPLATE, validation_error_handler=my_own_handler)`
I still get the default handler.
It seems that the reason is:
https://github.com/rochacbruno/flasgger/blob/fef154f61d7afca548067be0c758c3dd71cc4c97/flasgger/marshmallow_apispec.py#L80
There must be vali

[2019-04-21 04:53] masayuki038 commented on #285
I am a beginner of flasgger.

I tried to fix this, but failed. I think that the above rough changes fix on a case using APISpec of flasgger like examples/apispec_example.py, but I do not know how to respond to a case without it like examples/colors_with_schema.py.

Can anyone give me advice?

[2019-04-25 06:59] IreneMaryanne commented on #233
@fbiopereira @rochacbruno @javabrett
You can specify which methods to show the "Try it out" button by  using "supportedSubmitMethods" attribute as documented in [swaggerConfigDoc](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/)
Go to your flasgger library templates installed path, e.g:
`C:\Python27\Lib\site-packages\flasgger\ui3\templates\flasgger`
Edit **swagger.html**:

[2019-04-29 08:17] IreneMaryanne opened #299 "Flasgger Multiple Pages"
Hi, I'm using Flask-restful integration with many blueprints and using yml to write the specs.
May I know if we can create multiple pages, probably a configuration that groups tags together in a page name that will be called after /apidocs/ e.g. /apidocs/pagename1 or /apidocs/pagename2

Thanks

[2019-05-01 10:13] #299 closed

[2019-05-01 10:14] IreneMaryanne commented on #299
I just found that in flasgger you can filter based on tag names.
<your url>/apidocs**?filter=MyFilterTag**

[2019-05-04 10:15] #272 closed

[2019-05-04 10:21] #274 closed

[2019-05-04 10:23] #282 closed

[2019-05-04 10:46] rochacbruno opened #300 "This project is looking for new mantainers"
Hi,

I don't have enough time to dedicate to this project, also I am now working focused on Quality Engineering and test automation, web dev and API development with Flask is no more part of my daily work.

There are many people/companies relying on this project to serve API and I don't want to disappoint them.

## We need new maintainers

We need 2 more people to be included as maintainers of thi

[2019-05-09 20:19] luongthomas opened #302 "Swagger Basic Auth Example not rendering component"
I'm getting an issue when I'm running the example file `examples/jwt_auth.py`.

As shown in the picture, the username and password fields are not able to be rendered.

![Screen Shot 2019-05-09 at 1 08 35 PM](https://user-images.githubusercontent.com/11577853/57483465-c5584e80-725b-11e9-8329-0171c2a1c7cd.png)

This is what it shows in my console.
![Screen Shot 2019-05-09 at 1 09 57 PM](https://user

[2019-05-09 21:30] luongthomas commented on #214
What did you do to get this to work?

[2019-05-12 18:04] samizdis commented on #300
I'm happy to help with the Issues triage, reviewing PRs and getting the build passing the CI. Not too fussed about diving into the docs though.

[2019-05-15 13:53] mbarkhau opened #303 "YAMLLoadWarning: calling yaml.load"
I see that this issue was recently fixed by @scolby33 with ee62207d9671e848ab264900e7809a1dc0876964

The warning reported is the following.

[code]

I'm mainly opening this for others who run into this issue. I'm avoiding the warning by installing from git `-e git+https://github.com/rochacbruno/flasgger.git#egg=flasgger`.

This issue can be closed, or left open until there is a new package publish

[2019-05-17 15:52] dracepj commented on #285
I am now getting...`  File "../src/flasgger/flasgger/utils.py", line 126, in get_specs
    convert_schemas(apispec_swag, apispec_definitions)
  File "../src/flasgger/flasgger/marshmallow_apispec.py", line 120, in convert_schemas
    new[k] = schema2parameters(v)
  File "../python3.6/site-packages/apispec/ext/marshmallow/openapi.py", line 490, in schema2parameters
    prop = self.resolve_schema_dic

[2019-05-20 08:38] Kiolali opened #305 "multipart/form-data not working with openapi 3.0"
Hey,

I have a valid openapi.json file (checkd with editor.swagger.io), but multipart/form-data parameters are not correctly rendered in the UI. I'm using flasgger 0.9.2 and openapi 3.0.2. It worked before when using swagger 2.0.

the specific part of my openapi.json looks like this:

[code]
In the UI it's a textare with:

[code]

instead of three input fields.

Kind regards,

Kiolali

[2019-05-21 12:41] alessap commented on #303
I have also experienced the same issue. Hoping for a new version with the fix applied to come soon!

[2019-05-21 13:44] Kiolali commented on #267
same problem here as well

[2019-05-21 13:50] frankcorneliusmartin commented on #267
You can define `schemas` and `components` (and possibly others) in the template. However it is, as far as I know, not possible to remove the `definitions` label in the output-swagger. Which results in an invalid OAS 3.0 specification.

[2019-05-21 13:53] Kiolali commented on #267
yes.. how did you solve the problem? modifying base.py in my virtual environment is not a solution for me.

[2019-05-21 13:55] frankcorneliusmartin commented on #267
So we removed the part where `definitions` is added, see: https://github.com/IKNL/flasgger/commit/b4451780d801688f49e2a1405e00883502365412

We also published this hack on pypi, see link above.

[2019-05-21 13:57] Kiolali commented on #267
ah it's a fork! Thanks!

[2019-05-25 05:17] felixonmars commented on #285
@dracepj Same here while trying to run flasgger's test suite with apispec 1.2.1

[2019-05-26 06:52] exuscartman opened #306 "how to configure remote reference"
I'm using @swag_from(../../apidocs/test.yml) and test.yml to generate api docs, and in test.yml I referenced relative path file response.yml, but it doesn't work.
it reports the error:

my project dir:
apidocs
|_ test.yml
|_ response.yml
app
|_ api
--|_ resources
----|_ __init__.py
----|_ test.py
--|_ __init__.py
--|_ view.py
|_ __init__.py
|_ config.py
app.py

in app/__init__.py
[code]

in test.p

[2019-05-28 06:15] #306 closed

[2019-05-28 15:03] dracepj commented on #285
I was able to get this working with the following versions...
[code]

[2019-06-02 18:43] billyrrr opened #307 "Pypi Not Updated"
[Pypi](https://pypi.org/project/flasgger/#history) shows the last update as ```0.9.2``` on Nov 14, 2018. The version available on Pypi does not include current [fixes](https://github.com/rochacbruno/flasgger/commit/6c709e53c123f6dbbc5dbd4f91176748b9051080) (without it, including apispec as a dependency results in an error). This issue is to add release ```0.9.3``` and update Pypi to the most curre

[2019-06-04 16:04] vitodsk opened #308 "OAS 3: Flasgger seems not being able to resolve *components* reference when using yml file"
Using an external yml file, even if adding as suggested app['SWAGGER']['openapi'] = '3.0.2',
it seems not being able to resolve the #/schemas/components reference:

`
My API is awesome......
tags:
  - My API
post:
  parameters:
    - name: user-id
      in: header
      description: Id of the user
      type: string
      required: true
  requestBody:
    required: true
    content:
      applicat

[2019-06-04 17:20] 40min commented on #303
It will be enough just to downgrade version of PyYAML lib:
[code]

[2019-06-04 18:51] alessap commented on #303
Thank you @40min for the suggestion. I can confirm that this does remove the warning! :D

[2019-06-05 06:44] vitodsk commented on #300
I'd also like help as I can, in my understanding OAS 3 is not fully supported, and would like to start  improving that part.

[2019-06-05 12:02] rochacbruno commented on #300
@samizdis @vitodsk please send a PR resolving at least one important issue and I'll add you as maintainer.

[2019-06-07 21:01] belkka commented on #300
[Is it enough?](https://github.com/rochacbruno/flasgger/pull/310). Can I be a maintainer?

[2019-06-07 21:29] samizdis commented on #300
:D @belkka you beat me to it :p

[2019-06-19 14:25] senyai commented on #293
These lines are to blame:
https://github.com/rochacbruno/flasgger/blob/0ee67a755121000dad5b4405f2dd2bcb50c8ad51/flasgger/utils.py#L294-L295
For example, I have empty list as a `data`. That's valid data in my case, but `validate` function fails with error 500.

[2019-06-24 01:39] isaacfi opened #311 "Validate is not working: unknown url type"
I've tried to use an external yml file to specify the body post parameter User.

The login operation schema is this:

**/schemas/security/login.yml**:
[code]

The referenced user.schema.yml is this:

**/schemas/security/user.schema.yml**:
[code]

And in the blueprint called user_controller:

[code]

The swagger site is showing good, but if I activate the validation=True at the method, I got this e

[2019-06-24 10:38] ankitbhu16 opened #313 "In yaml syntax i am getting an error at path as 'should be an object jump to line no 6' .what does that mean ?"

[2019-07-01 12:02] allrod5 commented on #297
Hi @BaturinM, sorry for the long delay.

Can you provide an example test code to reproduce this bug?

[2019-07-03 14:56] gbrener commented on #296
If all you're interested in is referencing the marshmallow definitions from within a `SwaggerView` method's docstring (as I am), this seems to do the trick:

[code]

You might be able to use this approach to get what you want. For example, you could write a `SwaggerView` class that does nothing but reference all of your marshmallow schemas (you'd need to reference each schema in a docstring, howev

[2019-07-04 14:07] ethaizone commented on #308
Add config to swagger like this.
`'optional_fields': ['components']`

If you found problems that `components` don't appear on root of json, you need to pass it as
template` argument when you initial `Swagger` class instance.

Create as `dict` and pass like this.
`swagger = Swagger(app, template=specs_dict)`

[2019-07-06 04:34] SincerelyUnique commented on #185
thanks blue995, it works

[2019-07-10 11:49] nicobatty commented on #307
@billyrrr Yeah we really need a `0.9.3` update.

There are very important PR that were merged on the `master` branch to keep compatibility with apispec and from I can see, people are now forking the project just to create a new `0.9.3` version from the master branch.

@rochacbruno I understand that your focus is elsewhere, but it would be lovely if we could have someone make a release from the alr

[2019-07-10 13:38] rochacbruno commented on #307
@billyrrr @nicobatty please send me your PiPy usernames and I'll add you both there

[2019-07-10 13:40] rochacbruno commented on #307
Also added you both as collab here, can you take a look on opened PRs before releasing?

thanks

[2019-07-10 14:05] nicobatty commented on #307
@rochacbruno My pipy username is the same as my github account: nicobatty

I will look at the PRs if you want. I just recently started using the lib so I will only merge if I understand the changes been done.

[2019-07-10 14:35] rochacbruno commented on #307
@nicobatty you have upload rights to PyPi

After ensuring the PRs that ere ok is merged and bumping the version also writing some changelog and tagging I usually run `make sdist` https://github.com/rochacbruno/flasgger/blob/master/Makefile#L18

[2019-07-11 23:10] billyrrr commented on #307
@rochacbruno My PyPi username is ```billrao```

I may need some time to look over the code and its dependencies before creating 0.9.3 version and merging opened PRs (probably a week); hope that it's okay.

Thank you for adding me as a collaborator. Looking forward to working with you!

[2019-07-13 19:41] billyrrr opened #314 "Circular Reference for Marshmallow APISpec"
Hi. I am currently looking over apispec library for ideas on revising the instantiation of ```OpenAPIConverter``` on [this line](https://github.com/rochacbruno/flasgger/blob/0ee67a755121000dad5b4405f2dd2bcb50c8ad51/flasgger/marshmallow_apispec.py#L13) (a fix was submitted in #310 ). I noticed that the extra parameters ```resolver``` and ```spec``` are introduced in apispec to resolve circular refe

[2019-07-15 22:19] Dakad commented on #278
@moshere You should close this issue if the given response was correct.

[2019-07-17 16:22] rochacbruno commented on #307
You both are now maintainers

[2019-07-18 15:47] metmirr commented on #303
In the `utils.py` file instead of using `yaml.load()` using `yaml.safe_load()` remove warning.

[2019-07-18 20:43] mbarkhau commented on #303
@metmir yes that is the fix and it's already in master, it's just not published to pypi yet.

[2019-07-24 13:45] pahrohfit commented on #174
Specify `endpoint` on each line, defining each as a separate target (as @xiaomaflying said):

[code]

[2019-07-24 14:13] pahrohfit commented on #266
You need to load your endpoints *first*, then the API:

[code]

[2019-07-25 05:52] kushan-gunasekera commented on #285
This issue is fixed now, but  still not in `pypi`. Try to install it using `pip install https://github.com/rochacbruno/flasgger/tarball/master`.

[2019-07-25 06:19] kushan-gunasekera opened #317 "ERROR: flasgger 0.9.3.dev0 has requirement jsonschema<3.0.0, but you'll have jsonschema 3.0.1 which is incompatible."
Earlier I installed [`flasgger 0.9.2`](https://pypi.org/project/flasgger/0.9.2/) and got this issue #285. So I installed master branch because #310 fixed the #285 issue. Now I have `flasgger-0.9.3.dev0` version. When install it I got this **`ERROR: flasgger 0.9.3.dev0 has requirement jsonschema<3.0.0, but you'll have jsonschema 3.0.1 which is incompatible.`** error. What should I do? Should I down

[2019-07-31 11:25] kushan-gunasekera opened #318 "Components Section not working with openapi 3.0.* version"

[2019-08-05 17:04] wobeng opened #323 "__init__() got an unexpected keyword argument 'schema_name_resolver'"
[code]

[2019-08-08 06:44] #317 closed

[2019-08-08 14:46] JuergenGutsch opened #324 "Where to place the yaml when I use blueprints and route handlers?"
Hi

I use blueprints to define the routes and route handlers in separate files to hold the logic:
[code]

I also use blueprints in combination with controller classes like this:
[code]

The big question now is: Where do I need to place the yaml docs?
Somewhere in the blueprints? In the separate controller classes or route handler files?

Since there is no function definition in the blueprints anym

[2019-08-08 15:48] shaneLester5 commented on #323
We were having the same problem.  It's certainly not ideal, but pinning back to 0.9.2 will fix this temporarily.

[2019-08-08 16:14] stereomatchingkiss opened #325 "Change the request url in swagger"
Using flasgger to deploy an api on aws(deploy with the help of zappa), it works well if I post the data by python script, but it do not works if I post the data from the browser.

The correct url should be

`https://xxxxxxxx.execute-api.ap-yyyyyyyy-1.amazonaws.com/api_test`

But the request url of the browser always is

`https://xxxxxxxx.execute-api.ap-yyyyyyyy-1.amazonaws.com`

How could I set th

[2019-08-11 07:19] jaitaiwan commented on #300
Hey Folks, we've reached the August 4th deadline, is this going to be kept here or put elsewhere? I have limited time but I'm able to help review pull requests

[2019-08-11 16:16] rochacbruno commented on #300
@billyrrr are you able to take ownership and continue this project and also coordinate the contributors

[2019-08-11 21:22] billyrrr commented on #300
Thank you for this wonderful opportunity, @rochacbruno . I will be glad to take over this project!

[2019-08-14 10:44] #300 closed

[2019-08-14 10:48] jaitaiwan commented on #300
Bravo @billyrrr!  Thanks for taking the mantle

[2019-08-16 08:21] kemingy opened #327 "Feature request: support `pydantic` schema"
Recently I just found [fastapi](https://github.com/tiangolo/fastapi) has very nice OpenAPI support with the help of [pydantic](https://github.com/samuelcolvin/pydantic)(Python 3.6+). So people can declare schema with Python types, which is very convenient.

Would like to know if this library will support pydantic in the future? Or if there is something I can do to help?

[2019-08-16 14:29] rochacbruno commented on #327
There was long time ago this `@definition` decorator, which took a `ClassBAsedSwaggerDefinition`

https://github.com/flasgger/flasgger/blob/1c6ecde38a005466374246fb84497fa21a07272b/flasgger/base.py#L475-L480

YOu registered class definitions usign that decorator like in

https://github.com/flasgger/flasgger/blob/6bdacbafd9aa84f6d6f319a5a84b6fb90cc2b5a6/examples/definition_object_test.py#L19-L51

a

[2019-08-20 14:02] ziddey commented on #325
See https://github.com/flasgger/flasgger#behind-a-reverse-proxy

Depending on your configuration/middleware, you may need a different key (e.g. SCRIPT_NAME)

[2019-08-23 17:33] johnjiang commented on #293
Submitted PR: https://github.com/flasgger/flasgger/pull/328

[2019-08-25 10:56] kemingy commented on #327
Thanks for your help.

Currently, I'm working on the API part of Machine Learning Service. All of the Python code is 3.6+, so I write my own library [flaskerk](https://github.com/kemingy/flaskerk), which is simple but fits my need.

Really appreciate for your help.

[2019-08-29 12:37] lindvall commented on #142
I've experienced a similar or same issue.

By changing the abort call in parse_request:
https://github.com/flasgger/flasgger/blob/31c86c4db66b3e4d6446bb024cca50cf51652561/flasgger/base.py#L638

to:
[code]

It successfully returns the ValidationError message with the status code 400. I tried to figure out why it fails to abort with the Response object, but couldn't find the cause.

However, for a b

[2019-08-29 17:24] vasekch opened #329 "RESTful Resource - $ref does not work when used in parameters (Flask RESTful)"
I'm using Flask RESTful and I want POST validated using `Flasgger(parse=True)`

If $ref is used in schema:

[code]

I get:
[code]

However `Target` is among `definitions` in apispec (`http://localhost:5000/apispec_v1.json`) and correctly rendered all around.

[2019-08-29 17:30] vasekch opened #331 "Wrong github origin on PyPI"
When looking on https://pypi.org/project/flasgger/ I have strange feeling about link to https://github.com/nicobatty/flasgger/ as project homepage - which is a little behind.

Is this potentially a problem with not installing latest version using `pip install flasgger`?

Should this be changed to https://github.com/flasgger/flasgger/?

[2019-08-29 19:12] vasekch commented on #331
Now (as of writing) I have noticed that
this repo flasgger/flasgger latest release is 0.9.2 from 18 Nov 2018
nicobatty/flasgger latest release is 0.9.3 from 10 Jul 2019

What is the main repo for this project, anyone knows?

[2019-08-29 20:32] rochacbruno commented on #331
@vasekch this is the main repo, @nicobatty is one contributor that has made one release

[2019-08-29 21:48] nicobatty commented on #331
More information can be found here: #320

To put it simple I messed up and packaged a 0.9.3 version on the main pypi package instead of my fork (I forgot to change the package name). The issue is that I don't have any right to this Github repository so I can't create a clean 0.9.4 release to fix this unfortunately.

[2019-08-29 22:49] rochacbruno commented on #331
@nicobatty Talk to @billyrrr he is now the owner and main maintainer of this project.

[2019-08-29 23:08] billyrrr commented on #331
I can make a up-to-date release 0.9.4 soon. Please be on the lookout for new release

[2019-08-30 04:21] billyrrr commented on #331
Hi, @nicobatty . I have also invited you as a maintainer to this repository. Please be on the lookout for an email to confirm the invitation. Thanks

[2019-08-30 08:54] vasekch commented on #329
This somehow relates to #96 and #271 (error is the same). Although I believe these are raised during validation, which is different routine. But solution may be similar as proposed in #330

[2019-09-01 00:42] hajapy commented on #307
Pypi seems to now have 0.9.3, but GitHub is lacking a corresponding tag and release.

[2019-09-05 13:07] wearetvxq commented on #256
![image](https://user-images.githubusercontent.com/32411303/64344447-0ea98680-d021-11e9-88e2-02b2bcb7b8e7.png)
I also try this,but it's not use.
responses:
  '200':
    description: A list of colors (may be filtered by palette)
    schema:
      oneOf:
      - "$ref": "#/definitions/Palette"
      - "$ref": "#/definitions/Palette2"

[2019-09-11 08:06] Scagin opened #333 "How to hide one or two of my all apis?"
Hi, I would like to hide some of my REST apis. I don't want to make docs for them.
Is there any way to do this through some configuration?

[2019-09-13 19:55] nick-brown opened #334 "Route specs disappearing when `endpoint` is passed"
Currently using Swagger/Flasgger/Flask to document APIs/routes in an app.

    # app.py
    from flask import Flask
    from flasgger import Swagger
    from myapp.blueprints.main import main

    app = Flask(__name__)
    app.register_blueprint(main)
    swag = Swagger(app)

    # myapp.blueprints.main.views.py
    main = Blueprint('main', __name__)

    @main.route('/user/<path:user_id>', method

[2019-09-14 03:25] #334 closed

[2019-09-19 08:23] cesarferradas opened #336 "Flasgger validate() function should accept empty data in body"
In a `POST` or `PUT` request, [nothing in the HTTP protocol states that the request bodies should be non-empty](https://stackoverflow.com/questions/4191593/is-it-considered-bad-practice-to-perform-http-post-without-entity-body). However, [these two lines](https://github.com/flasgger/flasgger/blob/master/flasgger/utils.py#L330,L331) prevent an empty body from being sent if an API endpoint is being

[2019-09-19 13:47] wangyangjun opened #337 "Query parameters validation with data type as array"
Hi,

I pass "parse=True" to flasgger app. While one of my query parameter type is array[string], I got an error
[code]

https://github.com/flasgger/flasgger/blob/master/flasgger/base.py#L165
https://github.com/rochacbruno/flasgger/pull/222
https://github.com/flasgger/flasgger/issues/217

[2019-09-19 19:32] verynear48 opened #339 "Using decorator to restrict certain specs if unauthorized"
Hello,
I'm working with the basic_auth example. It works to disable _ALL_ specs if auth fails. I need to hide some specs, and still show other (public) specs. In other words, only _some_ of the specs should be hidden if request is unauthorized. Most likely using the path or 'endpoint' variable to differentiate.

I'm using flask-restful 0.3.6

Any ideas on how to go about this?

Thank you!

[2019-10-07 13:22] caffeinatedMike opened #342 "Data is not automatically validated when using flask-restful & json template_file"
**TLDR; Expected Behavior:**
Since we use a universal/app-wide schema, as defined by the `template_file` parameter when instantiating Swagger, we should not have to add validation decorators to all flask-restful Resources & their respective methods.

---

I'm currently designing an API and have run into a situation where when I define my entire schema from a json template file and am utilizing fla

[2019-10-10 12:39] caffeinatedMike commented on #342
The original issue is resolved by adding `parse=True` when instantiating `Swagger`. While this parameter *is* covered in the README, I think it would benefit from being elaborated upon a bit more and maybe showing an example that utilizes the functionality.

Now the only issue I'm facing is directly related to #330. Once that is merged my setup works fine.

[2019-10-10 12:39] #342 closed

[2019-10-13 01:32] CptSpaceToaster commented on #204
Because these schemas deserialize content into a dataclass instead of a dictionary, constructed Schemas can not be used as input parameters for a SwaggerView:

[code]

When passing in a callable, there seems to be another error in the OpenAPIConverter not implementing a schema_name_resolver in [0.9.3](https://github.com/flasgger/flasgger/blob/0.9.3-beta/flasgger/marshmallow_apispec.py#L13-L17):

[

[2019-10-21 14:52] CptSpaceToaster commented on #204
`user_args` would link to the proper link in the doc. I'm tempted to make marshmallow dataclass link to that project's github, but I can see reasons to avoid that.

[2019-10-25 09:54] chshpra opened #344 "flasgger tried to find index.html in the wrong directory"
Hi everyone, this weird thing happened to me today. When I installed my pacakge (which imports and uses flasgger) to a Linux server and called the /apidocs/index.html, flasgger tried to find index.html in my package's directory (as you could see in the screenshot) instead of the flasgger's package directory. This didn't happen when I was testing on my MacBook.

Don't know if this is a bug or somet

[2019-10-25 17:36] billyrrr commented on #344
Which version of Flasgger is installed? You can find out by typing `pip list`.

[2019-10-27 04:30] chshpra commented on #344
I'm using version 0.9.3.

btw, I was able to solve this by setting the flask template directory and static directory to the flasgger template directory.

[2019-10-28 08:55] lquastana commented on #251
Hello, I would like to contribute to your project, can I work on this issue ?

[2019-10-31 18:23] billyrrr commented on #251
Yep, that would be really helpful. Thanks! Feel free to comment on this thread if you have any question at all.

[2019-11-04 09:51] #344 closed

[2019-11-18 19:12] mike0sv opened #346 "Dynamically add/remove routes"
In my flask app I want to change routes dynamically. I was able to implement this in flask, but when I visit /apidocs, it does not reload changes and shows only routes that were there when I started the app. Is there a way to do this with flasgger?

[2019-11-20 09:40] sschiessl-bcp opened #347 "Return list as response"
Hello everyone,

in the example of https://github.com/flasgger/flasgger/blob/master/README.md#using-marshmallow-schemas it shows how to use nested to define a list as response. It returns e.g.
[code]

How can I modify it such that it returns directly a list? For the above example, the expected return value would be
[code]

Is that something that would be considered wrong from a design perspective?

[2019-11-27 13:46] niczky12 commented on #217
I can see that the PR has been merged, so I'm assuming we can do this now but how? The docs say that only PUT/POST/PATCH requests can be validated. Is that still the case?

[2019-12-03 18:47] Jflick58 opened #349 "Spec is static and not changing when I update my YAML files"
### Description

I'm using blueprints with `swag_from` and YML files in a subdirectory.

I've been trying to make changes to my YML files to fix some schema issues, but apispec_1.json doesn't seem to change. It still references an older version of my files.

I've tried clearing my browser data, using incognito mode, different browsers and it's still exhibiting the same behavior.

I've also tried c

[2019-12-16 07:53] zooozoo opened #351 "apispec_1.json 404 not found at development server"
Hi~!
I'm using flasgger 0.9.2
The problem is when I deploy source code to ec2, The `/apidocs` page working properly with IP address and port.
But with domain name, `/apidocs` page cannot get apispec_1.json (404 not found response) that I can check at Chrome development mode Network tab.
The weird thing is that I can check apispec_1.json content through Chrome browser with the URL that is failed at

[2019-12-18 06:47] billyrrr commented on #351
If it's possible, could you post the public IP address to your EC2 instance and the domain name?

My email address is billrao@me.com

If not, then let me know, and I'll figure something else out.

[2019-12-18 07:39] billyrrr commented on #347
Sorry, but the current code does not support this feature. I think it may be incorrect from a design perspective: assume that your response content type is “application/json” then ```['cian', 'magenta', 'yellow', 'black']``` is not a valid json. You would have to turn it into
[code]

If you intend your response content type as “text/plain”, ("['cian', 'magenta', 'yellow', 'black']" string as an ex

[2019-12-18 07:46] billyrrr commented on #346
I see that your routes are changed shortly after your initial flask app is loaded, but such change is only one-time, and intends to have the same effect as declaring it statically with less code.

Does it work to call ```Swagger(app)``` after all routes are added dynamically?

[2019-12-18 07:51] sschiessl-bcp commented on #347
Thank you for that. I think a list would be valid JSON still from a design choice a primitive as direct response is not recommended. I found this after reading your hint and found it helpful

https://stackoverflow.com/questions/19623339/is-a-list-array-valid-json

[2019-12-18 08:51] #347 closed

[2019-12-18 13:51] mike0sv commented on #346
actually, in my case it was easier just to recreate flask app completely, because there is no need to stay up during routing changes

[2019-12-18 13:51] #346 closed

[2019-12-20 09:49] zooozoo commented on #351
Sorry. This should be closed...
I can not check this kind of situation again. And this might be related to internal network something for security...
Thank for comment!

[2019-12-20 09:49] #351 closed

[2019-12-21 12:09] chaitan94 commented on #297
Is this fix going to merged into the master branch anytime soon? I don't see any reason why it isn't merged yet.

[2019-12-21 14:07] #297 closed

[2019-12-27 23:38] awildtechno opened #353 "How to determine the URL"
Hi! Sorry if this is the wrong place. I'm having trouble locating the API docs on my staging server. I'm not getting any error messages, so I assume flassger is running. All tests pass and everything else works, and there are no issues with local tests on my machine. The code is exactly the same as well and no environment variables would impact.

Is there a way to get the base documentation URL fo

[2019-12-28 00:12] awildtechno commented on #353
I think I have found the issue. I listed all gettable URLs using a quick script from Stack Overflow. The relevant ones are:

[code]

[2019-12-31 02:31] mbierma commented on #296
Based on #341 and starting with release 0.9.4.dev2 (or later), you can add your marshmallow schema using the `@swag_from` decorator:

[code]

[2020-01-10 01:40] wubin1989 commented on #317
why closed? I have the same issue.

[2020-01-21 10:09] Anti-Distinctlyminty opened #355 "Markdown Sanitizer Displays Raw HTML Tags"
I'm using flasgger along with a flask_restful Resource to create my apidocs, like so
[code]

The bullet list renders fine, but the text 'Create a thing' will literally render as
`<p>Create a thing</p>`

---
For completion, here's my setup
[code]

[2020-01-21 14:49] Jax89 opened #356 "oauth2RedirectUrl of swagger-ui not configurable"
I can't find any way to configure the oauth2RedirectUrl as described [here](https://swagger.io/docs/open-source-tools/swagger-ui/usage/configuration/
), which would be necessary if my SwaggerUI is behind a reverse proxy.

I tried including it into the config, but it does not seem to take any effect. It always defaults to when I authorize:

https://my-host-url/oauth2-redirect.html

instead of the s

[2020-01-21 22:29] Jax89 commented on #356
After a long search inside the code, I found the (undocumented?) config option of "ui_params" which can be used to pass a dict of parameters to the SwaggerUI.

Closing this Issue.

[2020-01-21 22:29] #356 closed

[2020-01-22 21:47] caffeinatedMike opened #357 "Data Validation not taking place with uiversion 3 and openAPI 3.0.1"
I'm working on simultaneously refactoring and converting an old project from Swagger 2 to the new openAPI 3. The swagger doc renders fine, but if I attempt to make any requests with intentionally malformed content the validation errors are no longer thrown and all requests seems to successfully go through. It seems with this module's openAPI 3 implementation nothing is validated against the swagge

[2020-01-23 13:17] caffeinatedMike commented on #357
@billyrrr @rochacbruno Any idea if this is actually a bug or am I doing something wrong?

[2020-01-23 23:38] caffeinatedMike opened #358 "KeyError: None when all parameters are in: query"
Using `'uiversion': 3` and `openapi: 3.0.1`

Using the following yaml
[code]

I receive the following error
[code]

However, if I change the two parameters to `in: path` the same request succeeds. How can I fix this? I need to be able to use query parameters, not path parameters with the number of parameters some of my routes require.

[2020-01-24 19:05] awildtechno opened #359 "I'd like to test flasgger compiles correctly"
Hi! I'd like to write unit tests to ensure my endpoints are properly documented. I was wondering what sort of introspection is available? If not much, maybe I could contribute something?

[2020-01-29 14:50] caffeinatedMike commented on #233
@IreneMaryanne @rochacbruno Any chance you could draft up a Pull Request that has an additional conditional in the __swagger.html__ to allow for easily setting the `supportedSubmitMethods`? I imagine it would be something like this (psuedo-code, needs to be tested):

__swagger.html__
[code]

__flasgger_config__
[code]

This would be a nice custom feature to have.

[2020-01-29 15:35] IreneMaryanne commented on #233
@caffeinatedMike Hi
You may want to look at this line in swagger.html
https://github.com/flasgger/flasgger/blob/master/flasgger/ui3/templates/flasgger/swagger.html#L59
I think you can use 'ui_params' as object key in flasgger_config.

Also this may be helpful
https://github.com/flasgger/flasgger#customize-default-configurations

[2020-01-29 16:50] caffeinatedMike commented on #233
@IreneMaryanne Exactly what I was looking for. Thank you!

[2020-01-30 06:05] akudnaver opened #360 "Flasgger execution is a success but not showing the output XML body"
So i am trying to deploy an IRIS Model through flasgger , but when i hit the execute button under the API DOC GUI, i do not see any output , where am expecting an XML output. Although i can see the HTTP/200 OK successful response in my ipython notebook.  So i am trying to understand what am i doing here . Can somebody please assist me on this problem, i am stuck for almost a month now. Any suggest

[2020-02-05 18:04] sandromodarelli opened #361 "Upgrade Swagger UI to 3.23.7+ to enable use of Parameters with content"
Looking at OpenAPI 3 documentation, it's possible to use a **content** as paramenter specification to send json into query strings.
From https://swagger.io/docs/specification/describing-parameters/

It would be great to upgrade Swagger UI to 3.23.7+

[2020-02-10 21:02] fenchu opened #364 "DispatcherMiddleware has moved"
Werkzeug==1.0.0

Please change:
from werkzeug.wsgi import DispatcherMiddleware
to:
from werkzeug.middleware.dispatcher import DispatcherMiddleware

[2020-02-18 18:39] rejoc opened #365 "validation traceback when having cascading $ref in definitions"
I have a single yaml file for all the paths and definitins I need (see test_ref.yaml)
validation for the test endpoint works great but I get a traceback when trying to validate test2.
The only difference is that one parameter if defined as a $ref...

[code]

test_ref.yaml :

[code]

test_ref.py :
[code]

[2020-02-20 09:54] aleksvidak opened #366 "Servers Section not working with openapi 3.*.* version"
When switching to OpenApi 3.0.2, it is not possible to use servers section inside specification.
https://swagger.io/docs/specification/api-host-and-base-path/

It would be nice if we can add this one (or any other OAS3 field) to swagger configuration.

Something like [https://github.com/flasgger/flasgger/issues/318](https://github.com/flasgger/flasgger/issues/318)  can be done or even better add O

[2020-02-22 16:27] Aaronsom commented on #365
I have a very similar problem with validating a nested $ref when writing the definition in the docstring as well.
__replace_ref looking for a file makes no sense to me here since there is no file with a definition.

examples/validation.py has no nested $ref in its tests, so maybe this case was overlooked?

[2020-02-22 17:49] rejoc commented on #365
I've just proposed a pull request to fix this...

[2020-02-26 22:36] billyrrr commented on #366
Hi, @aleksvidak . The solution you offered seems good to me! Would you like to submit a pull request for that? I'll definitely merge it.

[2020-02-27 09:21] aleksvidak commented on #366
Sure, could you grant me rights to push to the repo?

[2020-02-27 20:05] billyrrr commented on #366
I can definitely grant that if you want to continue to work on features related to OpenAPI 3. You can submit this pull request for now and then we can see where to go from there ☺️

[2020-03-06 10:34] p768lwy3 commented on #227
I have also got the same issue when I deploy the flask application on AWS ECS with Nginx (there is no problem when I run the application locally) and I couldn't access any assets of swagger-UI directly. Is there any update of this issue to solve this issue? Thanks a lot.

[2020-03-07 19:45] billyrrr commented on #366
Merged in https://github.com/flasgger/flasgger/commit/d630b77ea53b960b0a9119af9f242d93b6e94272

[2020-03-07 19:45] #366 closed

[2020-03-08 14:21] rejoc opened #369 "api definitions appear twice when basePath is not '/'"
if you define basePath: '/base_api/' in the template file
and the a few APIs like

[code]

you get both "/api_1" and "/base_api/api_1" in the api_docs descriptions. Only the first one is valid.

[2020-03-09 15:23] gskolysz commented on #296
#341 feature works for OAS v2. For version 3+, the schema is not being rendered :(.

[2020-03-11 20:08] #103 closed

[2020-03-11 20:35] rochacbruno opened #370 "add auth to docs"
Copied from #103

I've resolved the issue of authentication using the next code:
`swagger_template = {
        ...,
        'securityDefinitions': {
            'basicAuth': {
                'type': 'basic'
            }
        },
        ...
    }`
`app = Flask(__name__)`
`Swagger(app, config=config[config_name].swagger_config, template=swagger_template)
`

![image](https://user-images.githubus

[2020-03-12 00:10] shapiro2 commented on #278
I tried this:

[code]

But the route is still /apidocs

[2020-03-12 14:28] shapiro2 opened #371 "execute does not show responses"
When I run the execute in the Swagger UI generated by flasgger, the server does run the route and returns JSON, but flassger UI doesn't show the response.

What do I need to do to get the UI to show the response

[2020-03-16 11:03] GitTiago opened #373 "Support OAuth2 implicit and standard flow"
While both o2c.html and oauth2-redirect.html are available in the templates folder. Flasgger does not make it available through Flask. This means the redirects from Authentication providers will go nowhere as the HTML pages that actually interpret the response are not used.
This goes hand in hand with not being able to use the Swagger Ui method [initoauth](https://github.com/swagger-api/swagger-ui

[2020-03-19 12:48] jmetzz commented on #217
I'm also trying to use the validation on query parameters, which is not working with the version 0.9.4.
Any update on this topic?

[2020-03-26 12:33] nachiketrss commented on #248
Hello, is there any update on this please?

[2020-03-27 05:39] nachiketrss opened #374 "Structural error at - should NOT have additional properties additionalProperty: definitions"
I am using flasgger 0.9.4

I have made a python dict to hold the template. Then I am passing this dict as an argument to the Swagger function. WHen I paste the generated swagger spec into the https://editor.swagger.io/, then it shows me the following error:

The reason for this is the the open api 3+ does not have a definition field. How can I get rid of this from the generated spec?

[code]

[2020-03-27 05:45] nachiketrss commented on #267
@Kiolali, @frankcorneliusmartin , @AndreasNesKile - I am using flasgger 0.9.4 - the generated swagger spec contains the "definitions" tag. Is there a fix to this yet?

[2020-03-27 07:47] frankcorneliusmartin commented on #267
We made a hack: https://github.com/flasgger/flasgger/issues/267#issuecomment-494401828

[2020-03-27 18:03] Jonyorker opened #375 "Is it possible to generate a static apidoc.json file and serve that?"
Hi,

Is it possible to generate an apidocs.json file and server that file when a client goes to that path rather than generating one on the fly?

Thanks!

[2020-03-31 14:07] frankcorneliusmartin commented on #267
The `definitions` tag is still there but the UI no longer complains about it, it seems. So on that note ill close this issue.

[2020-03-31 15:51] Jonyorker commented on #296
I can confirm on my codebase that using

[code]

Does not render the schema if OAS3 is enabled.

[2020-04-03 13:16] nachiketrss commented on #47
Hello. Does flasgger not automatically generate the following?:
[code]

[2020-04-03 13:24] nachiketrss opened #377 "Does flasgger not support auto generation of authentication script via template file?"
This is my template code:

[code]

I am passing this to the flask app as follows:

    SWAGGER = Swagger(template=swagger_template)
    app.config['SWAGGER'] = {
        "title": "MY TEST API",
        "openapi": "3.0.2"
    }
    SWAGGER.init_app(app)

The resultant json includes:
[code]

However, via the UI when I set the key (via Authorize button), then make the request to an endpoint, the key

[2020-04-03 13:27] nachiketrss commented on #267
When pasted into the swagger editor (http://editor.swagger.io/), it generates validation error due to the definitions tag.

[2020-04-03 17:20] frankcorneliusmartin commented on #267
Good point

[2020-04-04 03:25] nachiketrss commented on #370
Using this approach, the security tag has to be then added to each endpoint. Is there any way to make this globally applicable to all endpoints?

[2020-04-06 21:38] ongopongo commented on #168
File uploads are working for me.

Here's the relevant part of my Flasgger YAML snippet in my function docstring:

[code]

As a result, the Swagger UI shows a file upload field.

![image](https://user-images.githubusercontent.com/53710895/78607592-3a3d5b00-7814-11ea-95ec-5bf889883662.png)

[2020-04-06 22:14] ongopongo opened #378 "Unable to validate formData when spec is in docstring"
In the project I'm working on, the endpoint specifications are located in the docstrings of the endpoints. For example:

[code]

I have been able to use Flasgger to validate POST body content **that is described by a schema**; by using the `@swagger.validate(...)` decorator. For example:

[code]

...where the schema whose ID is `MySchemaId` is defined in either the same or a different endpoint spe

[2020-04-07 06:30] zxiaozhou opened #379 "File upload cannot initiate the request"
# Click on the 'Execute'  cannot initiate the request
# Configuration information
[code]

[2020-04-08 02:25] zxiaozhou opened #380 "How do $ref internal fields mark required, Java swagger is ok"
How do $ref internal fields mark required, Java swagger is ok

[2020-04-08 14:41] informatica92 commented on #374
Hi nachiketrss, I noticed the same issue in these days. It would be nice to find a way to remove that keyword completely if you are using (example) openapi 3.0.2

[2020-04-08 14:46] informatica92 opened #381 "Is there away to protect the "/apidocs" page?"
Hi all, currently I am developing an API application that will be deployed on Google Cloud App Engine. For this reason it would be a bood idea to "protect" behind authentication or just a password, the documentation page so that only the authorized users can access and read it.

Is there a way to do this at the moment?

[2020-04-08 15:45] #377 closed

[2020-04-08 15:48] nachiketrss commented on #377
This is a non issue. It can be added globally using:

"security": [
        {
            "`ApiKeyAuth`": []
        }
    ],
    "components.......

[2020-04-09 08:26] taidinh-tiki opened #382 "Feature suggestion: Add support for marshmallow-enum"
Hi team, I have some problem when trying to use dataclass annotation, marshmallow schema and flasgger, it seems that Flasgger cannot included complicated type such as this enum in this example.
It woud be greate if this feature is included in the future
[code]

[code]

[2020-04-11 15:28] nachiketrss commented on #374
Presently, until there is a fix, there are 2 ways to get around this issue:
1. Manually get rid of the definitions tag.
2. If your project is running via pipeline, then use 'Replace' task to replace the definitions tag with ''

[2020-04-12 14:04] joeystevens00 commented on #381
The `swagger_ui` boolean setting in config will allow you to disable the apidocs view. Providing a config setting currently overrides the default though so you need to provide a full config object like so:
[code]